openapi: 3.0.3
info:
  title: Demand Accounts Target Groups API
  description: 'Cint''s demand ordering API is REST oriented. It has predictable resource based URLs, accepts JSON-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs. Error responses are also JSON-encoded and follow a standard format, providing a unique error ID and detailed information about what went wrong.


    Authentication is handled via bearer tokens passed in the `Authorization` header. All requests must also include a `Cint-API-Version` header with a date in `YYYY-MM-DD` format to specify the desired API version. Depending on the version you use, endpoint behavior may differ as we improve our API with every version release.


    While many operations work on a single object per request, the demand ordering API also provides asynchronous batch endpoints for performing bulk updates efficiently on certain resources. For safety, `POST` requests support an `Idempotency-Key` header to allow for safe retries without accidentally performing the same operation twice.

    '
  version: '2025-12-18'
servers:
- description: Production server
  url: https://api.cint.com/v1
security:
- BearerAuth: []
tags:
- name: Target Groups
  description: Create, update, list and other operations on Target Groups. A Target Group is the main unit of work in the Exchange.
paths:
  /demand/accounts/{account_id}/projects/{project_id}/target-groups:
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/ProjectID'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
    get:
      operationId: get_list_target_groups
      summary: List target groups for a project
      description: Fetch a paginated list of essential data points and statistical metrics related to Target Groups of a single project, such as current status, progress, and other relevant details, based on filter criteria such as language, country, name, etc.
      tags:
      - Target Groups
      parameters:
      - $ref: '#/components/parameters/EndBefore'
      - $ref: '#/components/parameters/StartAfter'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/TargetGroupExclusionStatus'
      - $ref: '#/components/parameters/TargetGroupName'
      - $ref: '#/components/parameters/TargetGroupSearchString'
      - $ref: '#/components/parameters/TargetGroupHumanReadableIds'
      - $ref: '#/components/parameters/TargetGroupCustomerReferenceNumbers'
      - $ref: '#/components/parameters/TargetGroupStatus'
      - $ref: '#/components/parameters/TargetGroupCountry'
      - $ref: '#/components/parameters/TargetGroupLanguage'
      - $ref: '#/components/parameters/ProjectManagerIDFilter'
      responses:
        '200':
          description: A successful response returns a paginated list of matching Target Groups along with details such as attributes and metrics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetGroupsList'
          headers:
            traceparent:
              $ref: '#/components/headers/Traceparent'
            tracestate:
              $ref: '#/components/headers/Tracestate'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    post:
      operationId: create_target_group
      summary: Create a target group in draft status
      description: 'Creates a new target group in `draft` status.


        Key behaviors:


        * The `profiles` attribute is optional. However, if you provide it, you must also set the `profile_adjustment_type`.

        * **Constraint:** A given profile (or question) ID must appear in _only one_ of the arrays. Duplicate IDs will cause the request to fail.


        The API automatically removes duplicate open-ended values in this request before validation and saving, but rejects duplicates in selection or range conditions.

        '
      tags:
      - Target Groups
      requestBody:
        description: Create target group request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDraftTargetGroupRequest'
      responses:
        '201':
          description: Successfully created a Target Group in draft status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedDraftTargetGroupResponse'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
  /demand/accounts/{account_id}/projects/{project_id}/target-groups/{target_group_id}:
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/ProjectID'
    - $ref: '#/components/parameters/TargetGroupID'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
    get:
      operationId: get_target_group
      summary: Retrieve a draft target group
      description: 'Retrieves a target group by its ID.


        **Note:** This endpoint is intended for `draft` target groups. If the requested target group is not in draft status, this endpoint will return a `301 Moved Permanently` redirect to it''s target group details endpoint.

        '
      tags:
      - Target Groups
      responses:
        '200':
          description: Successfully returned a draft Target Group.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/FetchTargetGroupResponse'
                - $ref: '#/components/schemas/DraftTargetGroupLinks'
        '301':
          description: Redirecting, as the draft Target Group has been launched
          headers:
            location:
              $ref: '#/components/headers/Location'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    put:
      operationId: update_target_group
      summary: Update a target group in draft status
      description: "Update a target group in draft status.\n\nprofiles is optional field. If provided, `profile_adjustment_type` must be set as `percentage` or `nominal`.\n\n**Constraint:** a given profile (or question) ID must appear in _only one_ of these arrays.  \nIf the same ID is listed in more than one `profile`, the draft will fail to save.\n\nThe API automatically removes duplicate open-ended values in this request before validation and saving, but rejects duplicates in selection or range conditions.\n"
      tags:
      - Target Groups
      requestBody:
        description: Update target group request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDraftTargetGroupRequest'
      responses:
        '204':
          description: Successfully updated a Target Group in draft status.
          headers:
            traceparent:
              $ref: '#/components/headers/Traceparent'
            tracestate:
              $ref: '#/components/headers/Tracestate'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
  /demand/accounts/{account_id}/projects/{project_id}/target-groups/{target_group_id}/details:
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/ProjectID'
    - $ref: '#/components/parameters/TargetGroupID'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
    get:
      operationId: get_target_group_details
      summary: Retrieve target group details
      description: 'Fetch details of a launched Target Group, such as Business Unit ID, Study Type ID, Industry ID, Locale, Completes Goal, and other  metadata related to the Target Group.

        Attempting to retrieve a draft Target Group details will result in a Not Found error.'
      tags:
      - Target Groups
      responses:
        '200':
          description: A successful response returns a paginated list of matching Target Groups along with details such as attributes and metrics.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/TargetGroupDetails'
                - $ref: '#/components/schemas/TargetGroupLinks'
          headers:
            traceparent:
              $ref: '#/components/headers/Traceparent'
            tracestate:
              $ref: '#/components/headers/Tracestate'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    put:
      operationId: update_launched_target_group_details
      summary: Update launched target group details
      description: 'Update a launched Target Group details, such as the Project Manager ID, Live URL, and other metadata related to the Target Group.

        Attempting to update a draft Target Group details will result in a Not Found error.'
      tags:
      - Target Groups
      requestBody:
        description: The Target Group update request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetGroupDetailsUpdateRequest'
      responses:
        '200':
          description: A successful response returns updated Target Group details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetGroupDetails'
          headers:
            traceparent:
              $ref: '#/components/headers/Traceparent'
            tracestate:
              $ref: '#/components/headers/Tracestate'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
  /demand/accounts/{account_id}/business-units/{business_unit_id}/rate-card:
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
    get:
      summary: Retrieve a rate card
      description: Rate Cards predefine the prices that a buyer will be charged for sessions on a Target Group that fits the equivalent IR and LOI metrics. Buyers can understand the interaction of the active Rate Card on a Target Group with the statistics, price changes and available configurations such as maximum prices and price boost via help documents and guides. This API allows buyers to look up a Rate Card based on the provided search parameters. The Rate Card is returned as a 2D array where each row array is LOI (with the number and value of the rows defined by the length_of_interview_minutes) and each column (index within a row array) is IR in percentage with the values defined by the incidence_rate_percents field.
      operationId: get_rate_card
      parameters:
      - $ref: '#/components/parameters/AccountID'
      - $ref: '#/components/parameters/BusinessUnitID'
      - $ref: '#/components/parameters/CountryCode'
      tags:
      - Target Groups
      responses:
        '200':
          description: Successfully return matching Rate Card.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateCard'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
  /demand/accounts/{account_id}/projects/{project_id}/target-groups/{target_group_id}/rate-card:
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
    get:
      summary: Retrieve a target group's rate card
      description: Depending on the state of the Target Group, this may be a predicted Rate Card, which may be replaced by a new version before the Target Group collects completes or the actual Rate Card which is permanently associated with the Target Group. This association is made when the Target Group first goes live. Rate Cards predefine the prices that a buyer will be charged for sessions on a Target Group that fits the equivalent IR and LOI metrics. Buyers can understand the interaction of the active Rate Card on a Target Group with the statistics, price changes and available configurations such as maximum prices and price boost via help documents and guides. The Rate Card is returned as a 2D array where each row array is LOI (with the number and value of the rows defined by the length_of_interview_minutes) and each column (index within a row array) is IR in percentage with the values defined by the incidence_rate_percents field.
      operationId: get_target_group_rate_card
      parameters:
      - $ref: '#/components/parameters/AccountID'
      - $ref: '#/components/parameters/ProjectID'
      - $ref: '#/components/parameters/TargetGroupID'
      tags:
      - Target Groups
      responses:
        '200':
          description: Successfully return matching Rate Card.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PredictedRateCard'
                - $ref: '#/components/schemas/BoundRateCard'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
  /demand/accounts/{account_id}/projects/{project_id}/target-groups/{target_group_id}/cost-per-interview:
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/ProjectID'
    - $ref: '#/components/parameters/TargetGroupID'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
    put:
      operationId: update_cost_per_interview
      summary: Update target group cost per interview
      description: Updates the cost per interview to the value specified in the request body. The target group cannot be in draft state. The Target Group CPI must not exceed the platform limit of $105.00. For non-USD amounts, the CPI is compared against the equivalent limit in the provided currency. Note - This limit is subject to platform configuration and may change.
      tags:
      - Target Groups
      requestBody:
        description: Cost per interview update request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostPerInterviewUpdateRequest'
      responses:
        '200':
          description: Cost per interview on target group successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostPerInterviewUpdateResponse'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
  /demand/accounts/{account_id}/projects/{project_id}/target-groups/{target_group_id}/filling-strategy:
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/ProjectID'
    - $ref: '#/components/parameters/TargetGroupID'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
    put:
      operationId: update_filling_strategy
      summary: Update target group filling strategy
      description: Updates the filling strategy to the value specified in the request body.
      tags:
      - Target Groups
      requestBody:
        description: Filling strategy update request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FillingStrategyUpdateRequest'
      responses:
        '200':
          description: Filling strategy on target group successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FillingStrategyUpdateResponse'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '405':
          $ref: '#/components/responses/Error_MethodNotAllowed'
        '500':
          $ref: '#/components/responses/Error_Internal'
  /demand/accounts/{account_id}/projects/{project_id}/compute-target-group-transitions:
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
    post:
      summary: Compute available target group transitions
      description: Returns all target group Ids for the given query parameters and the available possible actions on the returned set of target groups.
      operationId: compute_target_group_transitions
      parameters:
      - $ref: '#/components/parameters/AccountID'
      - $ref: '#/components/parameters/ProjectID'
      requestBody:
        description: Compute target group transitions request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputeTargetGroupTransitionsRequest'
      tags:
      - Target Groups
      responses:
        '200':
          description: Target group Ids with their possible actions.
          headers:
            traceparent:
              $ref: '#/components/headers/Traceparent'
            tracestate:
              $ref: '#/components/headers/Tracestate'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeTargetGroupTransitionsResponse'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
  /demand/accounts/{account_id}/projects/{project_id}/target-groups/{target_group_id}/overview:
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/ProjectID'
    - $ref: '#/components/parameters/TargetGroupID'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
    get:
      operationId: get_target_group_overview
      summary: Retrieve basic attributes and stats for a target group
      description: 'Fetch a set of essential data points and statistical metrics related to a specific launched Target Group, such as its current status, progress, and other relevant details.

        Attempting to retrieve a draft Target Group overview will result in a Not Found error.'
      tags:
      - Target Groups
      responses:
        '200':
          description: A successful response returns requested Target Group attributes and statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetGroupOverview'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
  /demand/target-groups/{target_group_id}/overview:
    parameters:
    - $ref: '#/components/parameters/TargetGroupID'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
    get:
      operationId: get_target_group_overview_by_target_group_id
      summary: Retrieve basic attributes and stats for a target group by ID
      description: Fetch a set of essential data points and statistical metrics related to a specific launched Target Group, such as its current status, progress, and other relevant details.
      tags:
      - Target Groups
      responses:
        '200':
          description: A successful response returns requested Target Group attributes and statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetGroupOverviewByTargetGroupId'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
  /demand/accounts/{account_id}/projects/{project_id}/target-groups/{target_group_id}/performance:
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/ProjectID'
    - $ref: '#/components/parameters/TargetGroupID'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
    get:
      operationId: get_target_group_performance
      summary: Retrieve a target group's performance metrics
      description: Fetch a set of essential data points and statistical metrics related to a specific launched Target Group.
      tags:
      - Target Groups
      responses:
        '200':
          description: A successful response returns requested Target Group statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetGroupPerformance'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
  /demand/accounts/{account_id}/projects/{project_id}/target-groups/{target_group_id}/completes-aggregated-by-interval:
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/ProjectID'
    - $ref: '#/components/parameters/TargetGroupID'
    - $ref: '#/components/parameters/AggregationInterval'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
    get:
      operationId: get_target_group_completes_aggregated_by_interval
      summary: Retrieve a target group's collected completes
      tags:
      - Target Groups
      description: Returns a list of timestamps according to the aggregation interval and the Target Group's fielding period, with a count of completes collected thus far for each interval. When no interval is provided as a parameter, the endpoint defaults to an interval of 24 hours.
      responses:
        '200':
          description: Successfully return list of intervals with counts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetGroupCollectedCompletesAggregatedIntervalsResponse'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
  /demand/accounts/{account_id}/projects/{project_id}/target-groups/{target_group_id}/changelog:
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/ProjectID'
    - $ref: '#/components/parameters/TargetGroupID'
    - $ref: '#/components/parameters/ChangelogPageSize'
    - $ref: '#/components/parameters/StartAfter'
    - $ref: '#/components/parameters/EndBefore'
    - $ref: '#/components/parameters/TargetGroupChangeTypes'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
    get:
      operationId: get_target_group_changelog
      summary: Retrieve a target group's Changelog
      tags:
      - Target Groups
      description: 'Returns a paginated list of historical changes for the target group.


        **Note:** The list of change types is extensible. Consumers should expect that new change types may be introduced in the future.

        '
      responses:
        '200':
          description: Successfully return list of profiles.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetGroupChangelogList'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
components:
  schemas:
    FieldingAssistantModulesAssignment:
      title: Fielding Assistant modules assignment
      description: A container for all enabled Fielding Assistant modules for a target group. Each module is optional; if a module is omitted or set to `null`, it is considered disabled.
      type: object
      properties:
        pricing:
          oneOf:
          - $ref: '#/components/schemas/ModuleDynamicPricing'
          - $ref: '#/components/schemas/ModuleRateCardPricing'
          nullable: true
        quota_overlay:
          allOf:
          - $ref: '#/components/schemas/ModuleQuotaOverlay'
          nullable: true
        pacing:
          oneOf:
          - $ref: '#/components/schemas/ModuleLinearPacing'
          - $ref: '#/components/schemas/ModuleAdaptivePacing'
          - $ref: '#/components/schemas/ModuleGeminiPacing'
          nullable: true
        soft_launch:
          allOf:
          - $ref: '#/components/schemas/ModuleSoftLaunch'
          nullable: true
    LocaleCodeWithReference:
      type: string
      description: Unique text code of the locale. Get a list of all available locales [here](#tag/Definitions/operation/get_locales).
      example: eng_us
    CreateDraftAllocationSpecificationGroupRequest:
      description: Create allocation specification request object. Allowing you to set which suppliers are blocked, how the allocated suppliers are distributed into groups, and what their minimum and maximum percentages are.
      type: object
      required:
      - open_exchange_allocations
      properties:
        open_exchange_allocations:
          type: object
          required:
          - blocked_supplier_ids
          - exchange_max_percentage
          - exchange_min_percentage
          - groups
          properties:
            blocked_supplier_ids:
              $ref: '#/components/schemas/SupplierIds'
            exchange_min_percentage:
              type: integer
              minimum: 0
              maximum: 100
              example: 0
            exchange_max_percentage:
              type: integer
              minimum: 0
              maximum: 100
              example: 100
            groups:
              type: array
              items:
                type: object
                required:
                - group_name
                - min_percentage
                - max_percentage
                - suppliers
                properties:
                  group_name:
                    description: only unique group names are valid.
                    type: string
                    example: Open group 1
                  min_percentage:
                    type: integer
                    minimum: 0
                    maximum: 100
                    example: 0
                  max_percentage:
                    type: integer
                    minimum: 0
                    maximum: 100
                    example: 100
                  suppliers:
                    $ref: '#/components/schemas/SupplierIds'
        private_exchange_allocations:
          type: object
          required:
          - blocked_supplier_ids
          - groups
          properties:
            blocked_supplier_ids:
              $ref: '#/components/schemas/SupplierIds'
            groups:
              type: array
              items:
                type: object
                required:
                - group_name
                - min_percentage
                - max_percentage
                - supplier_id
                properties:
                  group_name:
                    description: only unique group names are valid.
                    type: string
                    example: Private group 1
                  min_percentage:
                    type: integer
                    minimum: 0
                    maximum: 100
                    example: 0
                  max_percentage:
                    type: integer
                    minimum: 0
                    maximum: 100
                    example: 100
                  supplier_id:
                    type: string
                    example: '123'
    PacingGeminiExposedTargetGroupId:
      type: string
      format: ulid
      description: A 128 bit ULID. 26 characters, consisting of 10 characters representing the timestamp at the time of creation, and 16 characters for randomness.
      example: 01HC2K97AV64A8KSJT7GPH4ZC7
    ModuleSoftLaunch:
      title: Soft launch
      type: object
      description: Manages a soft launch of a target group. During a soft launch, pacing modules are ignored.
      properties:
        end_at:
          type: string
          description: The soft launch will be finished at this date, and the target group paused regardless of the fill.
          format: date-time
          example: '2023-01-01T23:00:00.000Z'
        filling_goal_percentage:
          description: The percentage of the full filling goal to collect during the soft launch phase.
          type: integer
          minimum: 1
          maximum: 100
          example: 1
        demographics_strictness_percentage:
          description: Controls how strictly the soft launch's demographic distribution should follow the full launch's distribution. A value of `100` aims to match the distribution perfectly, while `0` allows any distribution.
          type: integer
          minimum: 0
          maximum: 100
          example: 1
      required:
      - end_at
      - filling_goal_percentage
      - demographics_strictness_percentage
    schemas-TargetGroupStatus:
      type: array
      items:
        $ref: '#/components/schemas/TargetGroupStatus'
    FetchTargetGroupResponse:
      type: object
      description: Response object for a target group.
      properties:
        human_readable_id:
          $ref: '#/components/schemas/TargetGroupHumanReadableID'
        name:
          $ref: '#/components/schemas/TargetGroupName'
        business_unit_id:
          $ref: '#/components/schemas/BusinessUnitIDAsInteger'
        locale:
          $ref: '#/components/schemas/LocaleCode'
        collects_pii:
          $ref: '#/components/schemas/TargetGroupCollectsPII'
        study_type_code:
          $ref: '#/components/schemas/StudyTypeCode'
        industry_code:
          $ref: '#/components/schemas/IndustryCode'
        pricing_model:
          $ref: '#/components/schemas/TargetGroupPricingModel'
        cost_per_interview:
          $ref: '#/components/schemas/TargetGroupClientCpiMonetaryAmount'
        client_cost_per_interview_note:
          $ref: '#/components/schemas/TargetGroupClientCpiMonetaryAmount'
        client_id:
          $ref: '#/components/schemas/TargetGroupClientID'
        project_manager_id:
          $ref: '#/components/schemas/UserID'
        fielding_specification:
          $ref: '#/components/schemas/TargetGroupFieldingSpecification'
        completes_goal:
          $ref: '#/components/schemas/CompletesGoal'
        expected_length_of_interview_minutes:
          $ref: '#/components/schemas/TargetGroupExpectedLengthOfInterview'
        expected_incidence_rate:
          $ref: '#/components/schemas/TargetGroupExpectedIncidenceRate'
        exclusion:
          $ref: '#/components/schemas/TargetGroupExclusionObject'
        respondent_activity_exclusions:
          $ref: '#/components/schemas/TargetGroupRespondentActivityExclusionsResponse'
        industry_lockout_code:
          $ref: '#/components/schemas/TargetGroupIndustryLockoutCode'
        live_url:
          $ref: '#/components/schemas/TargetGroupLiveUrl'
        test_url:
          $ref: '#/components/schemas/TargetGroupTestUrl'
        fielding_assistant_assignment:
          $ref: '#/components/schemas/FieldingAssistantModulesAssignment'
        created_at:
          type: string
          format: date-time
          description: The timestamp indicating when the Target Group was created (RFC3339 UTC format, 3 fractional digits).
          example: '2023-01-01T23:00:00.000Z'
        profiling:
          $ref: '#/components/schemas/ProfilingResponse'
        allocations:
          $ref: '#/components/schemas/GetDraftSupplyAllocationGroupResponse'
        re_entry_configuration:
          description: This will only be included in the response if your account has access to this feature. If your account does not have access, the response will not contain this field. For more information if you need this behaviour, please contact your account manager.
          allOf:
          - $ref: '#/components/schemas/ReEntryConfiguration'
        target_group_customer_reference_number:
          allOf:
          - $ref: '#/components/schemas/TargetGroupCustomerReferenceNumber'
          - nullable: true
      example:
        human_readable_id: 9NRV3B9
        name: Test Target Group
        business_unit_id: '3337'
        locale: spa_us
        collects_pii: false
        study_type_code: adhoc
        industry_code: other
        cost_per_interview:
          value: '2.7352'
          currency_code: USD
        client_cost_per_interview_note:
          value: '2.7352'
          currency_code: USD
        project_manager_id: b551326b-ac9d-4d32-8823-4f025787dab9
        client_id: 1234
        fielding_specification:
          start_at: '2025-06-20T15:11:35.699Z'
          end_at: '2025-06-30T15:11:35.699Z'
        completes_goal: 1500
        expected_length_of_interview_minutes: 2
        expected_incidence_rate: 0.9
        exclusion:
          enabled: true
          list:
          - entity_type: RID
            entity_ids:
            - 5a3b2ada-0066-4dcb-afdd-7302be78ce9e
        respondent_activity_exclusions:
        - type: target-group
          id: 01KH2714RHRTGCGQV47FHHY8S8
          duration: P90D
        - type: project
          id: 01KH287TE2W1GKTJJ91QCCHWP9
          duration: P90D
        industry_lockout_code: no_lock_out
        live_url: https://example.com/live
        test_url: https://example.com/test
        fielding_assistant_assignment:
          pricing:
            type: dynamic
            total_budget:
              value: '2.7352'
              currency_code: USD
            maximum_cpi:
              value: '2.7352'
              currency_code: USD
            minimum_cpi:
              value: '2.7352'
              currency_code: USD
          quota_overlay:
            prevent_overfill: true
            balance_fill: true
          pacing:
            type: linear
            increment_interval: string
          soft_launch:
            end_at: '2023-01-01T23:00:00.000Z'
            filling_goal_percentage: 1
            demographics_strictness_percentage: 100
        created_at: '2025-01-01T23:00:00.000Z'
        profiling:
          profile_adjustment_type: percentage
          profiles:
          - object: regular
            id: 01JY5Q1GY7JWX1JHQH8D1W2N9Z
            name: birth gender
            description: ¿Es usted…?
            description_translated: What is your gender?
            quotas_enabled: true
            targets:
            - name: SF-BirthGender-Quota-1
              id: 01JY5V5NDSVHG8S3FX63Y73K3F
              text: Hombre
              text_translated: Male
              conditions:
              - object: selection
                question_id: 43
                option: '1'
              quota:
                name: SF-BirthGender-Quota-1
                completes_goal_percentage: 49.21
                completes_goal: 492
                quota_nominal: 492
            - name: SF-BirthGender-Quota-2
              id: 01JY5V67FAY2N5TB8TSK6HWM2G
              text: Mujer
              text_translated: Female
              conditions:
              - object: selection
                question_id: 43
                option: '2'
              quota:
                name: SF-BirthGender-Quota-2
                completes_goal_percentage: 50.79
                completes_goal: 508
                quota_nominal: 508
          - object: regular
            id: 01JY5RJZ2BXP43NC1KHTJKH9SH
            description: Por favor, indique su edad.
            description_translated: What is your age?
            quotas_enabled: true
            targets:
            - name: SF-Age-15-19
              id: 01JY5V6KT0FSXXXHS8CFST9NWW
              text: 15 to 19
              text_translated: 15 to 19
              conditions:
              - object: range
                question_id: 42
                min: 15
                max: 19
              quota:
                completes_goal_percentage: 28.21
                completes_goal: 282
                quota_nominal: 282
            - name: SF-Age-20-29
              id: 01JY5V6ZPM95SM01DC61QA8PV4
              text: 20 to 29
              text_translated: 20 to 29
              conditions:
              - object: range
                question_id: 42
                min: 20
                max: 29
              quota:
                completes_goal_percentage: 30.79
                completes_goal: 308
                quota_nominal: 308
            - name: SF-Age-30-39
              id: 01JY5V79FGETBEWBB3Q8BZGGQQ
              text: 30 to 39
              text_translated: 30 to 39
              conditions:
              - object: range
                question_id: 42
                min: 30
                max: 39
              quota:
                completes_goal_percentage: 21.4
                completes_goal: 214
                quota_nominal: 214
            - name: SF-Age-40-99
              id: 01JY5V7M90KG77VGR0Y6C6ZYDD
              text: 40 to 99
              text_translated: 40 to 99
              conditions:
              - object: range
                question_id: 42
                min: 40
                max: 99
              quota:
                completes_goal_percentage: 19.6
                completes_goal: 196
                quota_nominal: 196
          - object: regular
            id: 01JY5S4CXZKEYQ2HHBY8AMABCY
            description: ¿Cuál es su código postal?
            description_translated: What is your zip code?
            quotas_enabled: true
            targets:
            - name: SF-ZIP-1
              id: 01JY5V9AXTDM6SHJEAHR9ZB87J
              text: ZIP_1
              text_translated: ZIP_1
              conditions:
              - object: open_ended
                question_id: 45
                allow_all_values: false
                open_ended_values:
                - '98001'
                - '98007'
                - '98125'
                - '98258'
              quota:
                completes_goal_percentage: 50
                completes_goal: 500
                quota_nominal: 500
            - name: SF-ZIP-2
              id: 01JY5VAENK83GWHSBP535E13KZ
              text: ZIP_2
              text_translated: ZIP_2
              conditions:
              - object: open_ended
                question_id: 45
                allow_all_values: false
                open_ended_values:
                - '78001'
                - '78007'
                - '78125'
                - '78258'
              quota:
                completes_goal_percentage: 50
                completes_goal: 500
                quota_nominal: 500
          - object: blended
            id: 01JY5SFFC6AX91XSRYPRV7TGD4
            name: Number of movies watched near grocery
            description: In the past 2 months, how many movies have you seen in a theater? English - Kosovo, Thinking about grocery shopping for your household, about how often do you shop at each of the following stores for groceries?
            description_translated: In the past 2 months, how many movies have you seen in a theater?, Thinking about grocery shopping for your household, about how often do you shop at each of the following stores for groceries?
            quotas_enabled: true
            targets:
            - name: SF-Walmart-Movies-1
              id: 01JY5VVGQA2GYHQQ52NR90MQY7
              text: 0 movies, Wal- Mart
              text_translated: 0 movies, Wal- Mart
              conditions:
              - object: selection
                question_id: 157
                option: '1'
              - object: selection
                question_id: 63
                option: '1'
              quota:
                name: SF-Walmart-1
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
            - name: SF-Walmart-Movies-2
              id: 01JY5VZ4NR4AK9C98G45DZMQAQ
              text: 1 movies, Wal- Mart
              text_translated: 1 movies, Wal- Mart
              conditions:
              - object: selection
                question_id: 157
                option: '2'
              - object: selection
                question_id: 63
                option: '1'
              quota:
                name: SF-Walmart-2
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
            - name: SF-Walmart-Movies-3
              id: 01JY5W0M1BD55GAH6JZNMTB748
              text: 2 movies, Wal- Mart
              text_translated: 2 movies, Wal- Mart
              conditions:
              - object: selection
                question_id: 157
                option: '3'
              - object: selection
                question_id: 63
                option: '1'
              quota:
                name: SF-Walmart-3
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
            - name: SF-Walmart-Movies-4
              id: 01JY5W27HMMM64G75NEAKXRMPR
              text: 3 movies, Wal- Mart
              text_translated: 3 movies, Wal- Mart
              conditions:
              - object: selection
                question_id: 157
                option: '4'
              - object: selection
                question_id: 63
                option: '1'
              quota:
                name: SF-Walmart-4
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
            - name: SF-Walmart-Movies-5
              id: 01JY5W3XKS1PMC78M298YRY75Z
              text: 4 movies, Wal- Mart
              text_translated: 4 movies, Wal- Mart
              conditions:
              - object: selection
                question_id: 157
                option: '5'
              - object: selection
                question_id: 63
                option: '1'
              quota:
                name: SF-Walmart-5
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
            - name: SF-Walmart-Movies-6
              id: 01JY5W56Z2PVS17KAE223SYMWT
              text: 5 movies, Wal- Mart
              text_translated: 5 movies, Wal- Mart
              conditions:
              - object: selection
                question_id: 157
                option: '6'
              - object: selection
                question_id: 63
                option: '1'
              quota:
                name: SF-Walmart-6
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
            - name: SF-Walmart-Movies-7
              id: 01JY5W6C7QERBXJK94TZAP350Z
              text: 6 movies, Wal- Mart
              text_translated: 6 movies, Wal- Mart
              conditions:
              - object: selection
                question_id: 157
                option: '7'
              - object: selection
                question_id: 63
                option: '1'
              quota:
                name: SF-Walmart-7
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
            - name: SF-Target-Movies-1
              id: 01JY5W93WT3K33YPMTSZCYPTYZ
              text: 0 movies, Target
              text_translated: 0 movies, Target
              conditions:
              - object: selection
                question_id: 157
                option: '1'
              - object: selection
                question_id: 63
                option: '2'
              quota:
                name: SF-Target-1
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
            - name: SF-Target-Movies-2
              id: 01JY5WA51A4SE3AXVDDAKBXJ5P
              text: 1 movies, Target
              text_translated: 1 movies, Target
              conditions:
              - object: selection
                question_id: 157
                option: '2'
              - object: selection
                question_id: 63
                option: '2'
              quota:
                name: SF-Target-2
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
            - name: SF-Target-Movies-3
              id: 01JY5WB080HA1CZC0532YXSPT6
              text: 2 movies, Target
              text_translated: 2 movies, Target
              conditions:
              - object: selection
                question_id: 157
                option: '3'
              - object: selection
                question_id: 63
                option: '2'
              quota:
                name: SF-Target-3
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
            - name: SF-Target-Movies-4
              id: 01JY5WBRGCMEM7B4GD6THCGP91
              text: 3 movies, Target
              text_translated: 3 movies, Target
              conditions:
              - object: selection
                question_id: 157
                option: '4'
              - object: selection
                question_id: 63
                option: '2'
              quota:
                name: SF-Target-4
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
            - name: SF-Target-Movies-5
              id: 01JY5WCCC9QJPA8G7E3FYY6W73
              text: 4 movies, Target
              text_translated: 4 movies, Target
              conditions:
              - object: selection
                question_id: 157
                option: '5'
              - object: selection
                question_id: 63
                option: '2'
              quota:
                name: SF-Target-5
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
            - name: SF-Target-Movies-6
              id: 01JY5WD1S8N7SYYBK7JBX894Y9
              text: 5 movies, Target
              text_translated: 5 movies, Target
              conditions:
              - object: selection
                question_id: 157
                option: '6'
              - object: selection
                question_id: 63
                option: '2'
              quota:
                name: SF-Target-6
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
            - name: SF-Target-Movies-7
              id: 01JY5WDPWFMX6A6Q4G1FPAM16R
              text: 6 movies, Target
              text_translated: 6 movies, Target
              conditions:
              - object: selection
                question_id: 157
                option: '7'
              - object: selection
                question_id: 63
                option: '2'
              quota:
                name: SF-Target-7
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
            - name: SF-CVS-Movies-1
              id: 01JY5WEA4MHF8DFXY3YV0DRAN2
              text: 0 movies, CVS
              text_translated: 0 movies, CVS
              conditions:
              - object: selection
                question_id: 157
                option: '1'
              - object: selection
                question_id: 63
                option: '7'
              quota:
                name: SF-CVS-1
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
            - name: SF-CVS-Movies-2
              id: 01JY5WFA8Z81MNNZ4PKJMXGE81
              text: 1 movies, CVS
              text_translated: 1 movies, CVS
              conditions:
              - object: selection
                question_id: 157
                option: '2'
              - object: selection
                question_id: 63
                option: '7'
              quota:
                name: SF-CVS-2
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
            - name: SF-CVS-Movies-3
              id: 01JY5WG16B26G90MY3TSBSJF0N
              text: 2 movies, CVS
              text_translated: 2 movies, CVS
              conditions:
              - object: selection
                question_id: 157
                option: '3'
              - object: selection
                question_id: 63
                option: '7'
              quota:
                name: SF-CVS-3
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
            - name: SF-CVS-Movies-4
              id: 01JY5WGNA26K4RKST2FWH2CNXM
              text: 3 movies, CVS
              text_translated: 3 movies, CVS
              conditions:
              - object: selection
                question_id: 157
                option: '4'
              - object: selection
                question_id: 63
                option: '7'
              quota:
                name: SF-CVS-4
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
            - name: SF-CVS-Movies-5
              id: 01JY5WH8AHVXWS76S6S7YNTSX3
              text: 4 movies, CVS
              text_translated: 4 movies, CVS
              conditions:
              - object: selection
                question_id: 157
                option: '5'
              - object: selection
                question_id: 63
                option: '7'
              quota:
                name: SF-CVS-5
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
            - name: SF-CVS-Movies-6
              id: 01JY5WHVES46Z3Z8D4S0N8X09R
              text: 5 movies, CVS
              text_translated: 5 movies, CVS
              conditions:
              - object: selection
                question_id: 157
                option: '6'
              - object: selection
                question_id: 63
                option: '7'
              quota:
                name: SF-CVS-6
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
            - name: SF-CVS-Movies-7
              id: 01JY5WJJVE15JT1SW6ZD56H579
              text: 6 movies, CVS
              text_translated: 6 movies, CVS
              conditions:
              - object: selection
                question_id: 157
                option: '7'
              - object: selection
                question_id: 63
                option: '7'
              quota:
                name: SF-CVS-7
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
            - name: SF-KROGER
              id: 01JY5XWWE35A9B577VCMQ0PT0V
              text: Group 1, Kroger
              text_translated: Group 1, Kroger
              conditions:
              - object: selection
                question_id: 157
                option: '1'
              - object: selection
                question_id: 157
                option: '2'
              - object: selection
                question_id: 157
                option: '3'
              - object: selection
                question_id: 157
                option: '4'
              - object: selection
                question_id: 63
                option: '8'
              quota:
                name: SF-KROGER
                completes_goal_percentage: 2
                completes_goal: 20
                quota_nominal: 20
          - object: regular
            id: 01JY5SZRBCNCYJ96A1CCSDH9D7
            description: ¿Es usted Hispano, Latino o del origen Español?
            description_translated: Are you of Hispanic, Latino, or Spanish origin?
            quotas_enabled: true
            targets:
            - name: Group-1
              id: 01JY5WKJHBTPFBGK21VGK3YSK0
              text: Group-1
              text_translated: Group-1
              conditions:
              - object: selection
                question_id: 47
                option: '4'
              - object: selection
                question_id: 47
                option: '5'
              - object: selection
                question_id: 47
                option: '6'
              - object: selection
                question_id: 47
                option: '7'
              quota:
                name: Group-1
                completes_goal_percentage: 49.21
                completes_goal: 492
                quota_nominal: 492
            - name: Guatemala
              id: 01JY5WMBJQBMHHBBVXNR5BRKNS
              text: Guatemala
              text_translated: Guatemala
              conditions:
              - object: selection
                question_id: 47
                option: '8'
              quota:
                completes_goal_percentage: 50.79
                completes_goal: 508
                quota_nominal: 508
          - object: regular
            id: 01JY5T5QZRVCY69TK00BWHSXRZ
            description: ¿Cuál es su raza?
            description_translated: What is your race?
            quotas_enabled: false
            targets:
            - name: Asiático - Chino
              id: 01JY5WNZGMFCAMQTJV6J3QFQAB
              text: Asiático - Chino
              text_translated: Chinese
              conditions:
              - object: selection
                question_id: 113
                option: '5'
            - name: Asiático - Coreano
              id: 01JY5WQD67B8273R1MR3CMKPBW
              text: Asiático - Coreano
              text_translated: Korean
              conditions:
              - object: selection
                question_id: 113
                option: '8'
            - name: Asiático - Filipino
              id: 01JY5WRH7PYZA7P776CX8G6P73
              text: Asiático - Filipino
              text_translated: Filipino
              conditions:
              - object: selection
                question_id: 113
                option: '6'
            - name: Asiático - Indio
              id: 01JY5WSD5BYXZ85J3JJDK4JDSE
              text: Asiático - Indio
              text_translated: Indian
              conditions:
              - object: selection
                question_id: 113
                option: '4'
          - object: regular
            id: 01KNNMHHA3WX7ZJA5YBTBN8VNA
            name: STATE
            description: ¿Cuál es su estado?
            description_translated: What is your state?
            quotas_enabled: false
            targets:
            - id: 01KNNMJ725HPFGAWN5PRGFX85Z
              text: ALABAMA
              text_translated: ALABAMA
              conditions:
              - object: selection
                question_id: 96
                option: '1'
            - id: 01KNNMJV51XJ88TF7ESTRPQBGK
              text: FLORIDA
              text_translated: FLORIDA
              conditions:
              - object: selection
                question_id: 96
                option: '10'
            - id: 01KNNMKBS9EFZJZ3TS32C86VNB
              text: GEORGIA
              text_translated: GEORGIA
              conditions:
              - object: selection
                question_id: 96
                option: '11'
          - object: blended
            blended_type: control
            id: 01KS0CT2B46RSYQG1VTWZR1YYE
            name: Control quota
            description: What is your gender?, What is your age?, What is your state?
            description_translated: What is your gender?, What is your age?, What is your state?
            quotas_enabled: true
            targets:
            - id: 01KS0CT2B46RSYQG1VTWZR1YYF
              name: Control quota 1
              text: Control quota 1
              text_translated: Control quota 1
              conditions:
              - object: selection
                question_id: 43
                option: '1'
                condition_name: Male
                condition_name_translated: Male
              - object: range
                question_id: 42
                min: 20
                max: 29
                condition_name: 20 to 29
                condition_name_translated: 20 to 29
              - object: selection
                question_id: 96
                option: '1'
                condition_name: Alabama
                condition_name_translated: Alabama
              quota:
                completes_goal_percentage: 0.0
                completes_goal: 0
                quota_nominal: 0
            - id: 01KS0CT2B46RSYQG1VTWZR1YYM
              name: Control quota 2
              text: Control quota 2
              text_translated: Control quota 2
              conditions:
              - object: selection
                question_id: 43
                option: '2'
                condition_name: Female
                condition_name_translated: Female
              - object: range
                question_id: 42
                min: 30
                max: 39
                condition_name: 30 to 39
                condition_name_translated: 30 to 39
              - object: selection
                question_id: 96
                option: '1'
                condition_name: Alabama
                condition_name_translated: Alabama
              quota:
                completes_goal_percentage: 10.0
                completes_goal: 0
                quota_nominal: 0
            - id: 01KS0CT2B46RSYQG1VTWZR1YYC
              name: Control quota 3
              text: Control quota 3
              text_translated: Control quota 3
              conditions:
              - object: selection
                question_id: 43
                option: '1'
                condition_name: Male
                condition_name_translated: Male
              - object: range
                question_id: 42
                min: 30
                max: 39
                condition_name: 30 to 39
                condition_name_translated: 30 to 39
              - object: selection
                question_id: 96
                option: '1'
                condition_name: Alabama
                condition_name_translated: Alabama
              quota:
                completes_goal_percentage: 0.0
                completes_goal: 0
                quota_nominal: 0
        allocations:
          open_exchange_allocations:
            blocked_supplier_ids:
            - '123'
            - '456'
            exchange_min_percentage: 0
            exchange_max_percentage: 100
            groups:
            - group_name: Open group 1
              min_percentage: 0
              max_percentage: 100
              suppliers:
              - '123'
              - '456'
          private_exchange_allocations:
            blocked_supplier_ids:
            - '980'
            groups:
            - group_name: Private group 1
              min_percentage: 0
              max_percentage: 100
              supplier_id: '1966'
        re_entry_configuration:
          completes:
            client_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
          pre_client_survey_processes:
            screener_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
          financial_terms:
            screener_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
          terminates:
            screener_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
            client_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
          security_failures:
            screener_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
            client_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
          overquota:
            screener_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
            client_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
          in_screener:
            screener_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
            client_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
        links:
          test_client_survey: https://survey.someexamplesurveylink.com/s3/7189709/Example-survey?RID={RID}
    RespondentActivityExclusionsIDsListResponse:
      type: object
      properties:
        type:
          description: The type of entity related to the `id`. This value can either be `target-group` or `project`.
          type: string
          enum:
          - target-group
          - project
          example: target-group
        id:
          description: the unique entity ID.
          type: string
          format: ulid
          example: 01KH2714RHRTGCGQV47FHHY8S8
        duration:
          description: the period of time the target group or project should be excluded for. This syntax follows the ISO 8601 standard for duration.
          type: string
          format: duration
          example: P90D
    TargetGroupDetails:
      type: object
      description: Contains Target Group details.
      required:
      - id
      - name
      - account_name
      - business_unit_id
      - project_manager_id
      - study_type_code
      - industry_code
      - locale
      - completes_goal
      - expected_length_of_interview_minutes
      - expected_incidence_rate
      - industry_lockout_code
      - collects_pii
      - created_at
      properties:
        id:
          type: string
          pattern: ^[0-9A-Z]{26}$
          description: ULID identifier of the Target Group.
          example: 01BX5ZZKBKACTAV9WEVGEMMVS1
        human_readable_id:
          $ref: '#/components/schemas/TargetGroupHumanReadableID'
        name:
          $ref: '#/components/schemas/TargetGroupName'
        account_name:
          type: string
          description: Name of the Account to which the Target Group belongs to.
          example: Acme Inc.
        business_unit_id:
          $ref: '#/components/schemas/BusinessUnitID'
        project_manager_id:
          $ref: '#/components/schemas/UserID'
        study_type_code:
          $ref: '#/components/schemas/StudyTypeCode'
        industry_code:
          $ref: '#/components/schemas/IndustryCode'
        locale:
          $ref: '#/components/schemas/LocaleCode'
        completes_goal:
          $ref: '#/components/schemas/CompletesGoal'
        expected_length_of_interview_minutes:
          $ref: '#/components/schemas/TargetGroupExpectedLengthOfInterview'
        expected_incidence_rate:
          $ref: '#/components/schemas/TargetGroupExpectedIncidenceRate'
        industry_lockout_code:
          $ref: '#/components/schemas/TargetGroupIndustryLockoutCode'
        client_cost_per_interview_note:
          $ref: '#/components/schemas/TargetGroupClientCpiMonetaryAmount'
        client_id:
          $ref: '#/components/schemas/TargetGroupClientID'
        collects_pii:
          $ref: '#/components/schemas/TargetGroupCollectsPII'
        live_url:
          $ref: '#/components/schemas/TargetGroupLiveUrl'
        test_url:
          $ref: '#/components/schemas/TargetGroupTestUrl'
        created_at:
          type: string
          format: date-time
          description: The timestamp indicating when the Target Group was created (RFC3339 UTC format, 3 fractional digits).
          example: '2023-01-01T23:00:00.000Z'
        target_group_customer_reference_number:
          allOf:
          - $ref: '#/components/schemas/TargetGroupCustomerReferenceNumber'
          - nullable: true
    RequestDraftQuotaPercentageV3:
      type: object
      description: Profile target with condition or conditions and percentage value in quota.
      required:
      - conditions
      - quota
      properties:
        conditions:
          type: array
          description: List of conditions for the target.
          minItems: 1
          items:
            $ref: '#/components/schemas/InterlockProfileConditionsV3'
        quota:
          type: object
          required:
          - completes_goal_percentage
          properties:
            name:
              type: string
              description: Name of the quota used for tracking. This will be deprecated, functionally replaced by the `target.name` field one layer up in the contract.
              deprecated: true
              example: SF_Quota_12
            completes_goal_percentage:
              type: number
              multipleOf: 0.01
              minimum: 0
              maximum: 100
              description: Percentage of total completes goal quota applied to this condition(s).
              example: 40
    TargetGroupCountry:
      type: array
      items:
        type: string
        pattern: ^[a-z]{2}$
        example: us
    TargetGroupCollectedCompletesAggregatedIntervalsResponse:
      type: object
      required:
      - aggregated_completes_intervals
      properties:
        aggregated_completes_intervals:
          type: array
          items:
            $ref: '#/components/schemas/TargetGroupCollectedCompletesAggregatedIntervals'
    UpdateDraftTargetGroupRequest:
      type: object
      description: Request body for updating a target group in draft status.
      required:
      - name
      - business_unit_id
      - locale
      - project_manager_id
      - fielding_specification
      - fielding_assistant_assignment
      - completes_goal
      - expected_length_of_interview_minutes
      - expected_incidence_rate
      - allocations
      - collects_pii
      properties:
        project_manager_id:
          description: The project manager
          allOf:
          - $ref: '#/components/schemas/UserID'
        fielding_specification:
          $ref: '#/components/schemas/TargetGroupFieldingSpecification'
        business_unit_id:
          $ref: '#/components/schemas/BusinessUnitID'
        collects_pii:
          $ref: '#/components/schemas/TargetGroupCollectsPII'
        cost_per_interview:
          $ref: '#/components/schemas/TargetGroupClientCpiMonetaryAmountRequestModel'
        client_cost_per_interview_note:
          $ref: '#/components/schemas/TargetGroupClientCpiMonetaryAmountRequestModel'
        exclusion:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/TargetGroupExclusionObject'
        respondent_activity_exclusions:
          $ref: '#/components/schemas/TargetGroupRespondentActivityExclusionsRequest'
        expected_incidence_rate:
          $ref: '#/components/schemas/TargetGroupExpectedIncidenceRate'
        expected_length_of_interview_minutes:
          allOf:
          - $ref: '#/components/schemas/TargetGroupExpectedLengthOfInterview'
        completes_goal:
          allOf:
          - $ref: '#/components/schemas/CompletesGoal'
        client_id:
          $ref: '#/components/schemas/TargetGroupClientID'
        industry_code:
          $ref: '#/components/schemas/IndustryCodeWithReference'
        industry_lockout_code:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/TargetGroupIndustryLockoutCodeWithReference'
        live_url:
          nullable: true
          maxLength: 3000
          allOf:
          - $ref: '#/components/schemas/TargetGroupLiveUrl'
        locale:
          $ref: '#/components/schemas/LocaleCodeWithReference'
        name:
          $ref: '#/components/schemas/TargetGroupName'
        study_type_code:
          $ref: '#/components/schemas/StudyTypeCodeWithReference'
        test_url:
          nullable: true
          maxLength: 3000
          allOf:
          - $ref: '#/components/schemas/TargetGroupTestUrl'
        fielding_assistant_assignment:
          $ref: '#/components/schemas/FieldingAssistantModulesAssignmentRequestModel'
        profiling:
          $ref: '#/components/schemas/ProfilingRequest'
        allocations:
          $ref: '#/components/schemas/UpdateDraftSupplyAllocationGroupRequest'
        re_entry_configuration:
          description: This field is only applicable if your account has access to this feature. If your account does not have access, including this field in the request will result in a 403 Forbidden error. If you don't require this behaviour or don't have access to the feature, simply omit this field. For more information if you need this behaviour, please contact your account manager.
          allOf:
          - $ref: '#/components/schemas/ReEntryConfiguration'
        target_group_customer_reference_number:
          allOf:
          - $ref: '#/components/schemas/TargetGroupCustomerReferenceNumber'
          - nullable: true
      example:
        name: Test Target Group
        business_unit_id: '3337'
        locale: spa_us
        collects_pii: false
        study_type_code: adhoc
        industry_code: other
        cost_per_interview:
          value: '2.7352'
          currency_code: USD
        client_cost_per_interview_note:
          value: '2.7352'
          currency_code: USD
        project_manager_id: b551326b-ac9d-4d32-8823-4f025787dab9
        client_id: 1234
        fielding_specification:
          start_at: '2025-06-20T15:11:35.699Z'
          end_at: '2025-06-30T15:11:35.699Z'
        completes_goal: 1500
        expected_length_of_interview_minutes: 2
        expected_incidence_rate: 0.9
        exclusion:
          enabled: true
          list:
          - entity_type: RID
            entity_ids:
            - 5a3b2ada-0066-4dcb-afdd-7302be78ce9e
        respondent_activity_exclusions:
        - type: target-group
          id: 01KH2714RHRTGCGQV47FHHY8S8
        - type: project
          id: 01KH287TE2W1GKTJJ91QCCHWP9
        industry_lockout_code: no_lock_out
        live_url: https://example.com/live
        test_url: https://example.com/test
        fielding_assistant_assignment:
          pricing:
            type: dynamic
            total_budget:
              value: '2.7352'
              currency_code: USD
            maximum_cpi:
              value: '2.7352'
              currency_code: USD
            minimum_cpi:
              value: '2.7352'
              currency_code: USD
          quota_overlay:
            prevent_overfill: true
            balance_fill: true
          pacing:
            type: linear
            increment_interval: string
          soft_launch:
            end_at: '2023-01-01T23:00:00.000Z'
            filling_goal_percentage: 1
            demographics_strictness_percentage: 100
        profiling:
          template_id: e198c976-ce22-436d-acc1-95aa318cc54d
          profile_adjustment_type: percentage
          profiles:
          - object: regular
            name: birth gender
            quotas_enabled: true
            targets:
            - name: SF-BirthGender-1
              conditions:
              - object: selection
                question_id: 43
                option: '1'
              quota:
                name: SF-BirthGender-Quota-1
                completes_goal_percentage: 49.21
            - name: SF-BirthGender-2
              conditions:
              - object: selection
                question_id: 43
                option: '2'
              quota:
                name: SF-BirthGender-Quota-2
                completes_goal_percentage: 50.79
          - object: regular
            quotas_enabled: true
            targets:
            - name: SF-Age-1
              conditions:
              - object: range
                question_id: 42
                min: 15
                max: 19
              quota:
                completes_goal_percentage: 28.21
            - conditions:
              - object: range
                question_id: 42
                min: 20
                max: 29
              quota:
                completes_goal_percentage: 30.79
            - name: SF-Age-2
              conditions:
              - object: range
                question_id: 42
                min: 30
                max: 39
              quota:
                completes_goal_percentage: 21.4
            - name: SF-Age-3
              conditions:
              - object: range
                question_id: 42
                min: 40
                max: 99
              quota:
                completes_goal_percentage: 19.6
          - object: regular
            quotas_enabled: true
            targets:
            - name: SF-Zip-1
              conditions:
              - object: open_ended
                question_id: 45
                allow_all_values: false
                open_ended_values:
                - '98001'
                - '98007'
                - '98125'
                - '98258'
              quota:
                completes_goal_percentage: 50
            - name: SF-Zip-2
              conditions:
              - object: open_ended
                question_id: 45
                allow_all_values: false
                open_ended_values:
                - '78001'
                - '78007'
                - '78125'
                - '78258'
              quota:
                completes_goal_percentage: 50
          - object: blended
            name: Number of movies watched near grocery
            quotas_enabled: true
            targets:
            - name: SF-Walmart-1
              conditions:
              - object: selection
                question_id: 157
                option: '1'
              - object: selection
                question_id: 63
                option: '1'
              quota:
                name: SF-Walmart-1
                completes_goal_percentage: 2
            - name: SF-Walmart-2
              conditions:
              - object: selection
                question_id: 157
                option: '2'
              - object: selection
                question_id: 63
                option: '1'
              quota:
                name: SF-Walmart-2
                completes_goal_percentage: 2
            - name: SF-Walmart-3
              conditions:
              - object: selection
                question_id: 157
                option: '3'
              - object: selection
                question_id: 63
                option: '1'
              quota:
                name: SF-Walmart-3
                completes_goal_percentage: 2
            - name: SF-Walmart-4
              conditions:
              - object: selection
                question_id: 157
                option: '4'
              - object: selection
                question_id: 63
                option: '1'
              quota:
                name: SF-Walmart-4
                completes_goal_percentage: 2
            - name: SF-Walmart-5
              conditions:
              - object: selection
                question_id: 157
                option: '5'
              - object: selection
                question_id: 63
                option: '1'
              quota:
                name: SF-Walmart-5
                completes_goal_percentage: 2
            - name: SF-Walmart-6
              conditions:
              - object: selection
                question_id: 157
                option: '6'
              - object: selection
                question_id: 63
                option: '1'
              quota:
                name: SF-Walmart-6
                completes_goal_percentage: 2
            - name: SF-Walmart-7
              conditions:
              - object: selection
                question_id: 157
                option: '7'
              - object: selection
                question_id: 63
                option: '1'
              quota:
                name: SF-Walmart-7
                completes_goal_percentage: 2
            - name: SF-Target-1
              conditions:
              - object: selection
                question_id: 157
                option: '1'
              - object: selection
                question_id: 63
                option: '2'
              quota:
                name: SF-Target-1
                completes_goal_percentage: 2
            - name: SF-Target-2
              conditions:
              - object: selection
                question_id: 157
                option: '2'
              - object: selection
                question_id: 63
                option: '2'
              quota:
                name: SF-Target-2
                completes_goal_percentage: 2
            - name: SF-Target-3
              conditions:
              - object: selection
                question_id: 157
                option: '3'
              - object: selection
                question_id: 63
                option: '2'
              quota:
                name: SF-Target-3
                completes_goal_percentage: 2
            - name: SF-Target-4
              conditions:
              - object: selection
                question_id: 157
                option: '4'
              - object: selection
                question_id: 63
                option: '2'
              quota:
                name: SF-Target-4
                completes_goal_percentage: 2
            - name: SF-Target-5
              conditions:
              - object: selection
                question_id: 157
                option: '5'
              - object: selection
                question_id: 63
                option: '2'
              quota:
                name: SF-Target-5
                completes_goal_percentage: 2
            - name: SF-Target-6
              conditions:
              - object: selection
                question_id: 157
                option: '6'
              - object: selection
                question_id: 63
                option: '2'
              quota:
                name: SF-Target-6
                completes_goal_percentage: 2
            - name: SF-Target-7
              conditions:
              - object: selection
                question_id: 157
                option: '7'
              - object: selection
                question_id: 63
                option: '2'
              quota:
                name: SF-Target-7
                completes_goal_percentage: 2
            - name: SF-CVS-1
              conditions:
              - object: selection
                question_id: 157
                option: '1'
              - object: selection
                question_id: 63
                option: '7'
              quota:
                name: SF-CVS-1
                completes_goal_percentage: 2
            - name: SF-CVS-2
              conditions:
              - object: selection
                question_id: 157
                option: '2'
              - object: selection
                question_id: 63
                option: '7'
              quota:
                name: SF-CVS-2
                completes_goal_percentage: 2
            - name: SF-CVS-3
              conditions:
              - object: selection
                question_id: 157
                option: '3'
              - object: selection
                question_id: 63
                option: '7'
              quota:
                name: SF-CVS-3
                completes_goal_percentage: 2
            - name: SF-CVS-4
              conditions:
              - object: selection
                question_id: 157
                option: '4'
              - object: selection
                question_id: 63
                option: '7'
              quota:
                name: SF-CVS-4
                completes_goal_percentage: 2
            - name: SF-CVS-5
              conditions:
              - object: selection
                question_id: 157
                option: '5'
              - object: selection
                question_id: 63
                option: '7'
              quota:
                name: SF-CVS-5
                completes_goal_percentage: 2
            - name: SF-CVS-6
              conditions:
              - object: selection
                question_id: 157
                option: '6'
              - object: selection
                question_id: 63
                option: '7'
              quota:
                name: SF-CVS-6
                completes_goal_percentage: 2
            - name: SF-CVS-7
              conditions:
              - object: selection
                question_id: 157
                option: '7'
              - object: selection
                question_id: 63
                option: '7'
              quota:
                name: SF-CVS-7
                completes_goal_percentage: 2
            - name: SF-KROGER
              conditions:
              - object: selection
                question_id: 157
                option: '1'
              - object: selection
                question_id: 157
                option: '2'
              - object: selection
                question_id: 157
                option: '3'
              - object: selection
                question_id: 157
                option: '4'
              - object: selection
                question_id: 63
                option: '8'
              quota:
                name: SF-KROGER
                completes_goal_percentage: 2
          - object: regular
            quotas_enabled: true
            targets:
            - name: Group-1
              conditions:
              - object: selection
                question_id: 47
                option: '4'
              - object: selection
                question_id: 47
                option: '5'
              - object: selection
                question_id: 47
                option: '6'
              - object: selection
                question_id: 47
                option: '7'
              quota:
                name: Group-1
                completes_goal_percentage: 49.21
            - name: SF-Ungrouped-1
              conditions:
              - object: selection
                question_id: 47
                option: '8'
              quota:
                completes_goal_percentage: 50.79
          - object: regular
            quotas_enabled: false
            targets:
            - name: Target-1
              conditions:
              - object: selection
                question_id: 113
                option: '5'
            - name: Target-2
              conditions:
              - object: selection
                question_id: 113
                option: '8'
            - name: Target-3
              conditions:
              - object: selection
                question_id: 113
                option: '6'
            - name: Target-4
              conditions:
              - object: selection
                question_id: 113
                option: '4'
          - object: regular
            quotas_enabled: false
            targets:
            - conditions:
              - object: selection
                question_id: 96
                option: '1'
            - conditions:
              - object: selection
                question_id: 96
                option: '10'
            - conditions:
              - object: selection
                question_id: 96
                option: '11'
          - object: blended
            blended_type: control
            name: Control quota
            quotas_enabled: true
            targets:
            - name: Control quota 1
              conditions:
              - object: selection
                question_id: 43
                option: '1'
              - object: range
                question_id: 42
                min: 20
                max: 29
              - object: selection
                question_id: 96
                option: '1'
              quota:
                completes_goal_percentage: 0.0
                completes_goal: 0
                quota_nominal: 0
            - name: Control quota 2
              conditions:
              - object: selection
                question_id: 43
                option: '2'
              - object: range
                question_id: 42
                min: 30
                max: 39
              - object: selection
                question_id: 96
                option: '1'
              quota:
                completes_goal_percentage: 10.0
                completes_goal: 0
                quota_nominal: 0
            - name: Control quota 3
              conditions:
              - object: selection
                question_id: 43
                option: '1'
              - object: range
                question_id: 42
                min: 30
                max: 39
              - object: selection
                question_id: 96
                option: '1'
              quota:
                completes_goal_percentage: 0.0
                completes_goal: 0
                quota_nominal: 0
        allocations:
          open_exchange_allocations:
            blocked_supplier_ids:
            - '123'
            - '456'
            exchange_min_percentage: 0
            exchange_max_percentage: 100
            groups:
            - group_name: Open group 1
              min_percentage: 0
              max_percentage: 100
              suppliers:
              - '123'
              - '456'
          private_exchange_allocations:
            blocked_supplier_ids:
            - '980'
            groups:
            - group_name: Private group 1
              min_percentage: 0
              max_percentage: 100
              supplier_id: '1966'
        re_entry_configuration:
          completes:
            client_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
          pre_client_survey_processes:
            screener_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
          financial_terms:
            screener_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
          terminates:
            screener_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
            client_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
          security_failures:
            screener_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
            client_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
          overquota:
            screener_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
            client_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
          in_screener:
            screener_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
            client_side:
              allow_for_current_target_group: true
              allow_for_other_target_groups: true
    ModuleDynamicPricing:
      title: Dynamic pricing
      type: object
      description: 'Controls the Cost Per Interview (CPI) to achieve a 100% fill rate by the target group''s end date as cost-effectively as possible.


        Key behaviors:


        * **Prerequisite:** This module can only be used for target groups configured with dynamic pricing.

        * You must specify either `total_budget` or `maximum_cpi`, but not both.

        * If you specify `minimum_cpi`, it must be lower than the `maximum_cpi`.

        * The `total_budget` setting can overrule the `minimum_cpi`.

        '
      properties:
        type:
          type: string
          enum:
          - dynamic
          description: The type of module. For this object, the value is always 'dynamic'.
        total_budget:
          description: The maximum total amount to spend for the target number of completes.
          allOf:
          - $ref: '#/components/schemas/MonetaryAmount'
        maximum_cpi:
          description: The maximum cost per interview (CPI) that the module is allowed to set.
          allOf:
          - $ref: '#/components/schemas/MonetaryAmount'
        minimum_cpi:
          description: The minimum cost per interview (CPI) that the module is allowed to set.
          allOf:
          - $ref: '#/components/schemas/MonetaryAmount'
      required:
      - type
    TargetGroupRespondentActivityExclusionsRequest:
      type: array
      description: The list of target groups and projects whose respondents should be excluded from this target group's survey.
      items:
        $ref: '#/components/schemas/RespondentActivityExclusionsIDsListRequest'
    LocaleCode:
      type: string
      description: Unique text code of the locale.
      example: eng_us
    FillingStrategyUpdateResponse:
      type: object
      description: Response for filling strategy update.
      required:
      - filling_strategy
      properties:
        filling_strategy:
          $ref: '#/components/schemas/FillingStrategy'
    TargetGroupDetailsUpdateRequest:
      type: object
      description: The Target Group update request.
      required:
      - name
      - project_manager_id
      - expected_length_of_interview_minutes
      - expected_incidence_rate
      - live_url
      - test_url
      - industry_lockout_code
      properties:
        name:
          $ref: '#/components/schemas/TargetGroupName'
        project_manager_id:
          $ref: '#/components/schemas/UserID'
        expected_length_of_interview_minutes:
          $ref: '#/components/schemas/TargetGroupExpectedLengthOfInterview'
        expected_incidence_rate:
          $ref: '#/components/schemas/TargetGroupExpectedIncidenceRate'
        industry_lockout_code:
          $ref: '#/components/schemas/TargetGroupIndustryLockoutCode'
        live_url:
          $ref: '#/components/schemas/TargetGroupLiveUrl'
        test_url:
          $ref: '#/components/schemas/TargetGroupTestUrl'
        target_group_customer_reference_number:
          allOf:
          - $ref: '#/components/schemas/TargetGroupCustomerReferenceNumber'
          - nullable: true
        client_cost_per_interview_note:
          $ref: '#/components/schemas/TargetGroupClientCpiMonetaryAmountRequestModel'
    DropOffRate:
      type: number
      format: float
      description: Current drop-off rate of the Target Group.
      minimum: 0
      maximum: 1
      example: 0.05
    PacingStrategy:
      description: The pacing strategy.
      type: string
      enum:
      - linear
      - adaptive
      - gemini
      example: linear
    FieldingRunEndAt:
      type: string
      format: date-time
      description: 'The timestamp the fielding run is scheduled to end at (RFC3339 UTC format, 3 fractional digits).  The end time has to be after the starting time. '
      example: '2023-01-01T23:00:00.000Z'
    TargetGroupOverviewByTargetGroupId:
      type: object
      description: Basic attributes and statistics of a Target Group.
      required:
      - account_id
      - project_id
      - project_name
      - target_group_name
      - project_manager_id
      - progress
      - pricing_model
      - is_pricing_restricted
      - current_cost_per_interview
      - current_cost
      - status
      - country_code
      - language_code
      - conversion_rate
      - drop_off_rate
      - incidence_rate
      - median_length_of_interview_seconds
      - created_at
      properties:
        account_id:
          $ref: '#/components/schemas/AccountID'
        project_id:
          $ref: '#/components/schemas/ProjectID'
        project_name:
          type: string
          description: Name of the Project which contains the Target Group.
          example: Example Project
        target_group_name:
          type: string
          description: Name of the Target Group.
          example: Example Target Group
        human_readable_id:
          $ref: '#/components/schemas/TargetGroupHumanReadableID'
        project_manager_id:
          $ref: '#/components/schemas/UserID'
        progress:
          $ref: '#/components/schemas/TargetGroupProgress'
        pricing_model:
          $ref: '#/components/schemas/TargetGroupPricingModel'
        is_pricing_restricted:
          type: boolean
          description: True when there are target group CPI restrictions in place from fielding assistant, otherwise false.
          example: true
        current_cost_per_interview:
          description: Currently active Cost per Interview for the Target Group.
          allOf:
          - $ref: '#/components/schemas/MonetaryAmount'
        average_cost_per_interview:
          description: Average Cost per Interview for the Target Group.
          allOf:
          - $ref: '#/components/schemas/MonetaryAmount'
        current_cost:
          description: The total cost of the completes collected so far in this Target Group.
          allOf:
          - $ref: '#/components/schemas/MonetaryAmount'
        status:
          $ref: '#/components/schemas/TargetGroupStatus'
        country_code:
          type: string
          description: String representing country code.
          example: US
        language_code:
          type: string
          description: String representing language code.
          example: ENG
        conversion_rate:
          $ref: '#/components/schemas/ConversionRate'
        drop_off_rate:
          $ref: '#/components/schemas/DropOffRate'
        incidence_rate:
          $ref: '#/components/schemas/IncidenceRate'
        median_length_of_interview_seconds:
          $ref: '#/components/schemas/MedianLengthOfInterviewSeconds'
        study_type_code:
          $ref: '#/components/schemas/StudyTypeCode'
        target_group_customer_reference_number:
          allOf:
          - $ref: '#/components/schemas/TargetGroupCustomerReferenceNumber'
          - nullable: true
        created_at:
          type: string
          format: date-time
          description: Date and time when the target group was created (RFC3339 UTC format, 3 fractional digits).
          example: '2023-01-01T23:00:00.000Z'
    ProjectID:
      description: The character string representing a unique project ID (ULID format).
      type: string
      pattern: ^[0-9A-Z]{26}$
      example: 01BTGNYV6HRNK8K8VKZASZCFP0
    ModuleLinearPacing:
      title: Linear even pacing
      type: object
      description: Paces fielding by incrementing the completes goal in regular intervals until the target group's end date.
      properties:
        type:
          type: string
          enum:
          - linear
          description: The type of module. For this object, the value is always 'linear'.
        increment_interval:
          $ref: '#/components/schemas/IncrementInterval'
      required:
      - type
      - increment_interval
    ProfileTargetsResponseOpenEndedConditionsV3:
      oneOf:
      - title: Allow All Values
        description: If `allow_all_values` is true, `open_ended_values` must be null.
        type: object
        properties:
          object:
            type: string
            description: Object field to distinguish between different types of control selections.  Always is `open_ended`.
            enum:
            - open_ended
            example: open_ended
          question_id:
            $ref: '#/components/schemas/QuestionID'
          allow_all_values:
            type: boolean
            enum:
            - true
            description: Flag to allow all values.
          open_ended_values:
            type: array
            minItems: 0
            maxItems: 0
            items:
              type: string
            nullable: true
            description: Must be null when `allow_all_values` is true.
          condition_name:
            type: string
[...]
