openapi: 3.0.3
info:
  title: Demand API
  description: |
    Cint's demand ordering API is REST oriented. It has predictable resource based URLs, accepts JSON-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs. Error responses are also JSON-encoded and follow a standard format, providing a unique error ID and detailed information about what went wrong.

    Authentication is handled via bearer tokens passed in the `Authorization` header. All requests must also include a `Cint-API-Version` header with a date in `YYYY-MM-DD` format to specify the desired API version. Depending on the version you use, endpoint behavior may differ as we improve our API with every version release.

    While many operations work on a single object per request, the demand ordering API also provides asynchronous batch endpoints for performing bulk updates efficiently on certain resources. For safety, `POST` requests support an `Idempotency-Key` header to allow for safe retries without accidentally performing the same operation twice.
  version: '2025-12-18'
servers:
- description: Production server
  url: https://api.cint.com/v1
security:
- BearerAuth: []
tags:
- name: Accounts
  description: Endpoints for managing Accounts-related resources, such as users.
- name: Allocation Templates Admin
  description: Create, update, delete and list global and account Allocation templates. Templates allow you to store and automate
    your policy towards suppliers on the Exchange.
- name: Definitions
  description: Platform-wide definitions endpoints.
- name: Exclusive Endpoints
  description: For more information, if you need functionality in this section, please contact your account manager
- name: Feasibility
  description: Understand the success of the Target Groups you want to run, have already saved or are in field by providing
    a Target Group ID or details.
- name: Fielding
  description: Create, update and obtain Target Group Fielding runs and Fielding Assistant assignments. This is critical for
    launching, scheduling and completing Target Groups.
- name: Fielding (Batch)
  description: Asynchronously update Target Group Fielding Runs in batches.
- name: Fielding Assistant
  description: Get, update Target Group Fielding Assistant assignments. Fielding Assistant provides optional modules to automate
    common workflows and optimise your Target Group.
- name: Fulfillment
  description: |-
    :::info
    Fulfillment endpoints are for S2S enabled clients only.
    :::
    Endpoints for managing respondent statuses while a target group is fielding.
- name: Intelligent Calendar
  description: Select the best times for launching your Target Groups. Use before feasibility to optimise fill and time in
    field.
- name: Manage Profiles for Launched Target Groups
  description: Management of Target Group profiles after launch—including creating, updating, retrieving, and deleting profile
    configurations, along with their conditions, quotas, and interlock settings.
- name: Notifications Webhooks
  description: Endpoints for managing your Notifications Webhooks.
- name: Profiling Helper
  description: Helps by generating different profile configurations, including interlocked profiles for draft.
- name: Profiling Library
  description: List all profiling questions including account specific questions with translations and categories. Profiling
    questions allow you to target and filter respondents based on their characteristics.
- name: Profiling Quotas By Supplier
  description: Get the distribution of available respondents for Target Group profiles, including retrieving supplier distribution
    per quota.
- name: Profiling Templates
  description: Create, manage and reuse audience descriptions and templates to allow for efficient and automated targeting
    workflows on the Cint Exchange.
- name: Projects
  description: Create, list and update projects. Projects are a flexible container for Target Groups and enable basic aggregation
    and automation.
- name: Reconciliations
  description: Validate, Submit and check reconciliations for one or more target groups.
- name: Recontacts
  description: Create, update, list and delete recontacts for a target group. Recontacts allow only specific respondents to
    enter your survey and are part of a larger workflow that needs specific configurations across other endpoints.
- name: Reports
  description: Aggregate reports that roll statistics up on an _Account_, _Business Unit_, _Project_ and _Target Group_ level.
- name: Respondent Exclusions
- name: Respondent Unique Codes
  description: Allows you to insert respondent unique code(s) into the survey URL for each respondent entering the session.
- name: Target Group Allocations
  description: Create, update, list supplier allocations for a target group. Allocations allow filtering and limiting of the
    available suppliers on the Exchange.
- name: Target Groups
  description: Create, update, list and other operations on Target Groups. A Target Group is the main unit of work in the
    Exchange.
- name: Target Groups (Batch)
  description: Asynchronously create, update and delete Target Groups in batches.
paths:
  /accounts:
    get:
      tags:
      - Accounts
      summary: List all accounts
      operationId: get_user_accounts
      description: Retrieves a list of all accounts that the authenticated user is authorized to access. This list will be
        empty if you don't have access to any accounts.
      responses:
        '200':
          description: Successfully returned list of accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsList'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /accounts/{account_id}/users:
    get:
      tags:
      - Accounts
      summary: List all users for an account
      operationId: get_account_users
      description: Retrieves a list of all users who have access to a specific account. You can use the `user_type` query
        parameter to filter this list.
      responses:
        '200':
          description: A list of users for the specified account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersList'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/UserType'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /accounts/{account_id}/service-clients:
    get:
      tags:
      - Accounts
      summary: List all service clients for an account
      operationId: get_account_service_clients
      description: Lists all available service clients for an account.
      responses:
        '200':
          description: Retrieves a list of all service clients for an account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceClientsList'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/UserType'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /accounts/{account_id}/users/{user_id}/business-units:
    get:
      tags:
      - Accounts
      summary: Get default business unit assigned to user
      operationId: get_user_account_business_unit_id
      description: "Returns the business unit ID associated with the specified user's account. \n\n:::info\nThis API doesn't\
        \ return all the business units within an account. To get all the business units for an account use `/accounts/{account_id}/business-units`.\n\
        :::\n"
      responses:
        '200':
          description: The business unit associated with the specified user and account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAccountBusinessUnit'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/UserID'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/accounts/{account_id}/allocation-template-association:
    get:
      operationId: get_account_allocation_template_association
      summary: Retrieves the default allocation template for an account
      tags:
      - Allocation Templates Admin
      responses:
        '200':
          description: The default allocation template associated with the account was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountAllocationTemplateAssociation'
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    put:
      operationId: set_account_allocation_template_association
      summary: Assigns a default allocation template to an account
      description: Assigns a default allocation template to an account. This endpoint uses the If-Match header for optimistic
        locking. To get the required ETag value, first make a request to the [GET endpoint](./get-account-allocation-template-association)
        for this resource.
      tags:
      - Allocation Templates Admin
      parameters:
      - $ref: '#/components/parameters/IfMatchRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountAllocationTemplateAssociation'
            example:
              templateId: fe666fcd-490c-4cb4-b4e0-2f86e15c27e6
      responses:
        '204':
          description: The allocation template was associated successfully.
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '412':
          $ref: '#/components/responses/Precondition_Failed'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/accounts/{account_id}/allocation-templates:
    get:
      operationId: list_account_allocation_templates
      summary: Lists allocation templates for an account
      description: Lists a paginated set of allocation templates for an account. The response includes each template's ID,
        name, and last update details. Use the `page_size` parameter to control the number of results per page, and use the
        `start_after` and `end_before` parameters to navigate between pages.
      tags:
      - Allocation Templates Admin
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/StartAfter'
      - $ref: '#/components/parameters/EndBefore'
      responses:
        '200':
          description: The list of allocation templates was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountAllocationTemplatesResponse'
              example:
                templates:
                - template_id: 01JT5Z59MAKQ82J5K9Y3YGFNHN
                  name: US General Population
                  last_modified_by: b551326b-ac9d-4d32-8823-4f025787dab9
                  last_modified_at: '2024-06-18T14:23:45Z'
                - template_id: 01JT5Z59MAKQ82J5K9Y3YGFNJM
                  name: UK Gamers
                  last_modified_by: b551326b-ac9d-4d32-8823-4f025787dab9
                  last_modified_at: '2024-06-17T11:00:00Z'
                has_more: true
                next_cursor: WzAsIjAxSlA3RTgyM0czSFRGOTdZRThBNjc0RU5EIl0=
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '500':
          $ref: '#/components/responses/Error_Internal'
    post:
      operationId: create_account_allocation_template
      summary: Create an allocation template
      description: Creates a new allocation template for an account. You'll need to provide a template name and the allocation
        specifications, which define supplier blocks, distribution groups, and their respective percentages.
      tags:
      - Allocation Templates Admin
      parameters:
      - $ref: '#/components/parameters/IdempotencyKeyULIDRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllocationTemplateCreateRequest'
            example:
              name: Q1 Marketing Campaign Template
              supply_allocations:
              - type: blocked
                suppliers:
                - supplier_id: 101
                - supplier_id: 202
              - type: group
                name: Group A (Premium)
                percentage_min: 50
                percentage_max: 70
                suppliers:
                - supplier_id: 301
                - supplier_id: 405
              - type: group
                name: Group B (Standard)
                percentage_min: 30
                percentage_max: 50
                suppliers:
                - supplier_id: 510
                - supplier_id: 620
      responses:
        '201':
          description: The allocation template was created successfully. The Location header contains the URL for the new
            resource.
          headers:
            location:
              $ref: '#/components/headers/Location'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/accounts/{account_id}/allocation-templates/{template_id}:
    get:
      operationId: get_account_allocation_template_by_template_id
      summary: Retrieve an allocation template by ID
      description: |-
        Retrieves the details of a specific allocation template by its ID.
        NOTE: The response currently includes only Cint Exchange suppliers. Support for private exchange suppliers is not yet available.
      tags:
      - Allocation Templates Admin
      parameters:
      - $ref: '#/components/parameters/OptionalLocaleCodeFilter'
      responses:
        '200':
          description: The allocation template was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountAllocationTemplateByTemplateIdResponse'
              example:
                template_id: 01JT5Z59MAKQ82J5K9Y3YGFNHN
                name: Q1 Marketing Campaign Template
                last_modified_at: '2024-06-18T14:23:45Z'
                last_modified_by: b551326b-ac9d-4d32-8823-4f025787dab9
                supply_allocations:
                - type: blocked
                  suppliers:
                  - supplier_id: 101
                    name: Blocked Supplier A
                    type: survey_panels
                - type: group
                  name: Group A (Premium)
                  percentage_min: 50
                  percentage_max: 70
                  suppliers:
                  - supplier_id: 301
                    name: Premium Supplier B
                    type: loyalty_panels
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    put:
      operationId: update_account_allocation_template
      summary: Update an allocation template
      description: Updates the name and allocation specifications for a template. This endpoint uses the If-Match header for
        optimistic locking. To get the required ETag value, first make a GET request for this resource.
      tags:
      - Allocation Templates Admin
      parameters:
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllocationTemplateUpdateRequest'
            example:
              name: Updated Q1 Marketing Campaign Template
              supply_allocations:
              - type: blocked
                suppliers:
                - supplier_id: 101
              - type: group
                name: Updated Group A
                percentage_min: 60
                percentage_max: 80
                suppliers:
                - supplier_id: 301
                - supplier_id: 405
      responses:
        '204':
          description: The allocation template was updated successfully.
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '412':
          $ref: '#/components/responses/Precondition_Failed'
        '500':
          $ref: '#/components/responses/Error_Internal'
    delete:
      operationId: delete_account_allocation_template
      summary: Delete an allocation template
      tags:
      - Allocation Templates Admin
      responses:
        '204':
          description: The allocation template was deleted successfully.
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/TemplateID'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/allocation-templates:
    get:
      operationId: list_global_allocation_templates
      summary: Lists global allocation templates
      description: Lists a paginated set of global allocation templates. The response includes each template's ID, name, and
        last update details. Use the `page_size` parameter to control the number of results per page, and use the `start_after`
        and `end_before` parameters to navigate between pages.
      tags:
      - Allocation Templates Admin
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/StartAfter'
      - $ref: '#/components/parameters/EndBefore'
      responses:
        '200':
          description: The list of global allocation templates was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGlobalAllocationTemplatesResponse'
              example:
                templates:
                - template_id: 01JT5Z59MAKQ82J5K9Y3YGFNHN
                  name: Global Template A
                  last_modified_at: '2024-06-18T14:23:45Z'
                  last_modified_by: b551326b-ac9d-4d32-8823-4f025787dab9
                - template_id: 01JT5Z59MAKQ82J5K9Y3YGFNJM
                  name: Global Template B
                  last_modified_at: '2024-06-17T11:00:00Z'
                  last_modified_by: b551326b-ac9d-4d32-8823-4f025787dab9
                has_more: true
                next_cursor: WzAsIjAxSlA3RTgyM0czSFRGOTdZRThBNjc0RU5EIl0=
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/allocation-templates/{template_id}:
    get:
      operationId: get_global_allocation_template_by_template_id
      summary: Retrieves a global allocation template by ID
      description: |-
        Retrieves the details of a specific global allocation template by its ID.
        NOTE: The response currently includes only Cint Exchange suppliers. Support for private exchange suppliers is not yet available.
      tags:
      - Allocation Templates Admin
      parameters:
      - $ref: '#/components/parameters/OptionalLocaleCodeFilter'
      responses:
        '200':
          description: The global allocation template was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGlobalAllocationTemplateByTemplateIdResponse'
              example:
                template_id: 01JT5Z59MAKQ82J5K9Y3YGFNHN
                name: Global Technology Sector Template
                supply_allocations:
                - type: exchange
                  percentage_min: 80
                  percentage_max: 100
                  suppliers:
                  - supplier_id: 420
                    name: Tech Insights Panel
                    type: survey_panels
                - type: blocked
                  suppliers:
                  - supplier_id: 101
                    name: General Consumer Panel
                    type: loyalty_panels
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/TemplateID'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/system-allocation-template:
    get:
      operationId: get_system_allocation_template
      summary: Retrieves the system allocation template
      description: Retrieves the system's default allocation template for a specific locale. This template contains a dynamic
        list of all suppliers currently available in that market. You can use this data as a baseline to ensure your custom
        allocation templates only include suppliers that are valid for a specific country or region.
      tags:
      - Allocation Templates Admin
      responses:
        '200':
          description: The system allocation template was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemAllocationTemplateResponse'
              example:
                name: System Default for eng_us
                supply_allocations:
                - type: exchange
                  percentage_min: 100
                  percentage_max: 100
                  suppliers:
                  - supplier_id: 420
                    name: Clix Sense
                    type: loyalty_panels
                  - supplier_id: 515
                    name: US Research Panel
                    type: survey_panels
                  - supplier_id: 630
                    name: Affiliate Network One
                    type: non_panel_or_affiliate
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/LocaleCodeFilter'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /accounts/{account_id}/business-units:
    get:
      tags:
      - Definitions
      summary: Lists business units for an account
      operationId: get_business_units
      description: "Lists available account business units. Business unit definitions are supposed to help you organize surveys\
        \ between different parts of your organization. They also determine the currency used by their assigned surveys. \n\
        \n:::info\nTo get default business unit assigned to the user within the account then use /accounts/{account_id}/users/{user_id}/business-units\
        \ API mentioned under Accounts section.\n:::\n"
      responses:
        '200':
          description: A list of business units was retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  business_units:
                    type: array
                    description: A list of business units.
                    items:
                      $ref: '#/components/schemas/BusinessUnit'
              example:
                business_units:
                - id: 1234
                  name: Example EMEA
                  currency_code: EUR
                  pricing_models:
                  - rate_card
                  - dynamic
                - id: 5678
                  name: Example APAC
                  currency_code: JPY
                  pricing_models:
                  - rate_card
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /accounts/{account_id}/clients:
    get:
      tags:
      - Definitions
      summary: Lists clients for an account
      operationId: get_clients
      description: Lists the clients that have been configured for the specified account.
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          description: A list of clients was retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  clients:
                    type: array
                    description: A list of clients.
                    items:
                      $ref: '#/components/schemas/ClientListItem'
              example:
                clients:
                - id: 1234
                  name: Acme Inc
                - id: 5678
                  name: Global Research Partners
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /countries:
    get:
      tags:
      - Definitions
      summary: Lists all countries
      operationId: get_countries
      description: Lists all available countries. Countries are used for target group filtering purposes. `0/NA` is a special
        country code that can be used for scenarios where a country is not applicable.
      responses:
        '200':
          description: A list of countries was retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  countries:
                    type: array
                    description: A list of countries.
                    items:
                      $ref: '#/components/schemas/CountryListItem'
              example:
                countries:
                - id: 243
                  code: GB
                  name: United Kingdom
                - id: 244
                  code: US
                  name: United States
                - id: 116
                  code: JP
                  name: Japan
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /industries:
    get:
      tags:
      - Definitions
      summary: Lists all industries
      operationId: get_industries
      description: Lists the available industries that you can associate with your target groups.
      responses:
        '200':
          description: A list of industries was retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  industries:
                    type: array
                    description: A list of industries.
                    items:
                      $ref: '#/components/schemas/IndustryListItem'
              example:
                industries:
                - id: 19
                  code: politics
                  name: Politics
                - id: 20
                  code: economy
                  name: Economy
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /industry-lockouts:
    get:
      tags:
      - Definitions
      summary: Lists all industry lockouts
      operationId: get_industry_lockouts
      description: Lists the available industry lockout options. You can apply an industry lockout to a target group to prevent
        respondents from participating if they have recently completed another target group in the same industry.
      responses:
        '200':
          description: A list of industry lockouts was retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  industry_lockouts:
                    type: array
                    description: A list of industry lockouts.
                    items:
                      $ref: '#/components/schemas/IndustryLockoutItem'
              example:
                industry_lockouts:
                - id: 90
                  code: past_90_days
                  name: Past 90 Days / 3 Months
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /integration-use-cases:
    get:
      tags:
      - Definitions
      summary: List all supported integration cases
      operationId: get_integration_use_cases
      description: Lists all supported integration use cases, which indicate the purpose for which an integration will be
        used.
      responses:
        '200':
          description: A list of integration use cases was retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  integration_use_cases:
                    type: array
                    description: A list of integration use cases.
                    items:
                      $ref: '#/components/schemas/IntegrationUseCaseListItem'
                example:
                  integration_use_cases:
                  - id: manage_surveys
                    name: Manage target groups
                    description: Create, update, and retrieve target groups, allocations, groups, qualifications, and quotas.
                  - id: performance_reporting
                    name: Performance reporting
                    description: Monitor target group performance and do reconciliation.
                  - id: financial_reporting
                    name: Financial reporting
                    description: Generate cost summary reports for sets of target groups.
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /locales:
    get:
      tags:
      - Definitions
      summary: Lists all locales
      operationId: get_locales
      description: Lists all available locales (a combination of country and language) that are well-supported on the platform.
        You can use this endpoint to discover which locales are recommended for the best performance and panelist availability.
        The output will include ISO 3166-1 alpha-2 country codes and associated ISO 639-2/T three-letter language codes. You
        will use this to form a valid locale string where you specify the three-letter language code, an underscore, and the
        two-letter country code e.g., eng_us. Use this locale when browsing profile library or creating a target group.
      responses:
        '200':
          description: A list of locales was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Locales'
              example:
                locales:
                - country:
                    code: in
                    name: India
                  languages:
                  - is_preferred: true
                    name: English
                    code: eng
                  - is_preferred: true
                    name: Hindi
                    code: hin
                - country:
                    code: us
                    name: United States
                  languages:
                  - is_preferred: true
                    name: English
                    code: eng
                  - is_preferred: false
                    name: Spanish
                    code: spa
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /study-types:
    get:
      tags:
      - Definitions
      summary: Lists study types
      operationId: get_study_types
      description: Lists the available study types. You can assign a study type to a target group to indicate its purpose
        and associated limits.
      responses:
        '200':
          description: A list of study types was retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  study_types:
                    type: array
                    description: A list of study types.
                    items:
                      $ref: '#/components/schemas/StudyTypeListItem'
              example:
                study_types:
                - id: 1
                  code: adhoc
                  name: Adhoc
                - id: 2
                  code: diary
                  name: Diary
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /suppliers:
    get:
      tags:
      - Definitions
      summary: Lists suppliers
      operationId: get_suppliers
      description: Lists the suppliers available on the Cint Exchange. You can use the IDs retrieved from this endpoint to
        configure allocation templates.
      responses:
        '200':
          description: A list of suppliers was retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  suppliers:
                    type: array
                    description: A list of suppliers.
                    items:
                      $ref: '#/components/schemas/SupplierDetailsItem'
              example:
                suppliers:
                - id: 4351
                  code: ACE
                  name: Acme Inc
                - id: 3334
                  code: BCD
                  name: BCD Inc
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/accounts/{account_id}/exclusion-groups:
    get:
      operationId: get_exclusion_groups_by_account_id
      summary: Lists exclusion groups for an account
      description: Lists the exclusion groups for your account, ordered by creation date. Use exclusion groups to prevent
        respondents from participating in multiple target groups, even across different projects.
      tags:
      - Respondent Exclusions
      parameters:
      - $ref: '#/components/parameters/AccountID'
      - $ref: '#/components/parameters/PageSize1000'
      - $ref: '#/components/parameters/StartAfter'
      - $ref: '#/components/parameters/EndBefore'
      responses:
        '200':
          description: A list of exclusion groups was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExclusionGroupsByAccountIdResponse'
              example:
                data:
                - exclusion_group_id: 01JW97M2Y5Q5KB0N543B4G4T5Y
                  tag: 2025 Tracker
                  description: 2025 Ongoing Tracker Study
                  create_date: '2025-05-27T09:28:21.229Z'
                  update_date: '2025-05-27T10:30:00.516Z'
                - exclusion_group_id: 01JW97M2Y5Q5KB0N543B4G4T5Z
                  tag: Q3 Product Launch
                  description: Excludes respondents from all Q3 product launch studies.
                  create_date: '2025-04-15T11:00:00.000Z'
                  update_date: null
                next_cursor: MDFKUkc0UFdISDRKMEpWRVRTTTNKTlZKWlcmMGVmZmRjOTctMTYxZS00NmJlLWJlM2MtNTU5NTYyMWU3ZDcx
                url: accounts/101/exclusion-groups
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '500':
          $ref: '#/components/responses/Error_Internal'
    post:
      operationId: create_exclusion_group
      summary: Creates an exclusion group
      description: |-
        Creates a new exclusion group for your account and returns its unique ID.
        Key behaviors:
        * You can create multiple exclusion groups with the same tag. * A target group can belong to multiple exclusion groups. * An exclusion group can contain a maximum of 100 target groups.
      tags:
      - Respondent Exclusions
      parameters:
      - $ref: '#/components/parameters/AccountID'
      requestBody:
        description: Create Exclusion Group with the required data
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExclusionGroupRequest'
            example:
              tag: 2025 Tracker
              description: Excludes all respondents who participate in the 2025 ongoing tracker study.
      responses:
        '201':
          description: The exclusion group was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateExclusionGroupResponse'
              example:
                exclusion_group_id: 01JW97M2Y5Q5KB0N543B4G4T5Y
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/accounts/{account_id}/exclusion-groups/{exclusion_group_id}:
    get:
      operationId: get_exclusion_group_by_id
      summary: Retrieves exclusion group by ID
      description: Retrieves the details of a specific exclusion group, including its tag, description, and creation date.
      tags:
      - Respondent Exclusions
      responses:
        '200':
          description: The exclusion group details were retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExclusionGroupInfo'
              example:
                exclusion_group_id: 01JW97M2Y5Q5KB0N543B4G4T5Y
                tag: 2025 Tracker
                description: 2025 Ongoing Tracker Study
                create_date: '2025-05-27T09:28:21.229Z'
                update_date: '2025-05-27T10:30:00.516Z'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    put:
      operationId: update_exclusion_group_by_id
      summary: Updates exclusion group by ID
      description: Updates the tag or description for a specific exclusion group.
      tags:
      - Respondent Exclusions
      requestBody:
        description: Update Exclusion Group request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExclusionGroupRequest'
            example:
              tag: 2025 Annual Tracker
              description: Updated description for the 2025 ongoing tracker study.
      responses:
        '204':
          description: Successfully updated the exclusion group.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    delete:
      operationId: delete_exclusion_group_by_id
      summary: Delete an Exclusion Group by its ID if it has no associated Target Groups
      description: Deletes a specific exclusion group. **Prerequisite:** You must remove all target groups from an exclusion
        group before you can delete it. Attempting to delete a group that still contains target groups will result in a failed
        request with a conflict error.
      tags:
      - Respondent Exclusions
      responses:
        '204':
          description: Successfully deleted the Exclusion Group.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '409':
          $ref: '#/components/responses/Error_Conflict'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/ExclusionGroupID'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/accounts/{account_id}/exclusion-groups/{exclusion_group_id}/target-groups:
    get:
      operationId: get_exclusion_group_target_group_exclusions
      summary: Lists target groups in an exclusion group
      description: Lists the target groups that belong to a specific exclusion group. Respondents who complete one target
        group in this list will be excluded from participating in any of the others. **An exclusion group can contain a maximum
        of 100 target groups.**
      tags:
      - Respondent Exclusions
      parameters:
      - $ref: '#/components/parameters/AccountID'
      - $ref: '#/components/parameters/ExclusionGroupID'
      - $ref: '#/components/parameters/PageSize1000'
      - $ref: '#/components/parameters/StartAfter'
      - $ref: '#/components/parameters/EndBefore'
      responses:
        '200':
          description: A list of target groups within the exclusion group was retrieved successfully.ns
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExclusionGroupTargetGroupsResponse'
              example:
                data:
                - 01BTGNYV6HRNK8K8VKZASZCFP1
                - 01BTGNYV6HRNK8K8VKZASZCFP2
                - 01BTGNYV6HRNK8K8VKZASZCFP3
                next_cursor: MDFKUkc0UFdISDRKMEpWRVRTTTNKTlZKWlcmMGVmZmRjOTctMTYxZS00NmJlLWJlM2MtNTU5NTYyMWU3ZDcx
                url: accounts/101/exclusion-groups/01JW97M2Y5Q5KB0N543B4G4T5Y/exclusions/target-groups
          headers:
            traceparent:
              $ref: '#/components/headers/Traceparent'
            tracestate:
              $ref: '#/components/headers/Tracestate'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/accounts/{account_id}/exclusion-groups/{exclusion_group_id}/target-groups/add:
    post:
      operationId: add_target_groups_to_exclusion_group
      summary: Add Target Groups to an Exclusion Group
      description: 'Adds one or more target groups to an exclusion group. Target groups can be from any project within your
        account. **Key behaviors** * An exclusion group can contain a maximum of 100 target groups. * Adding a target group
        to this list only affects the exclusion status for **future** respondents; it does not apply retroactively. '
      tags:
      - Respondent Exclusions
      parameters:
      - $ref: '#/components/parameters/AccountID'
      - $ref: '#/components/parameters/ExclusionGroupID'
      requestBody:
        description: A list of target group IDs to add to the exclusion group.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTargetGroupExclusionGroupRequest'
            example:
              data:
              - 01BTGNYV6HRNK8K8VKZASZCFP1
              - 01BTGNYV6HRNK8K8VKZASZCFP2
      responses:
        '204':
          description: The target groups were added to the exclusion group successfully.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/accounts/{account_id}/exclusion-groups/{exclusion_group_id}/target-groups/remove:
    post:
      operationId: remove_target_groups_from_exclusion_group
      summary: Remove Target Groups from an Exclusion Group
      description: Removes one or more target groups from an exclusion group. **Important behavior:** Removing a target group
        from this list only affects the exclusion status for **future** respondents; it does not apply retroactively.
      tags:
      - Respondent Exclusions
      parameters:
      - $ref: '#/components/parameters/AccountID'
      - $ref: '#/components/parameters/ExclusionGroupID'
      requestBody:
        description: A list of target group IDs to remove from the exclusion group.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveTargetGroupExclusionGroupRequest'
            example:
              data:
              - 01BTGNYV6HRNK8K8VKZASZCFP1
              - 01BTGNYV6HRNK8K8VKZASZCFP2
      responses:
        '204':
          description: The target groups were removed from the exclusion group successfully.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/accounts/{account_id}/projects/{project_id}/exclusion-policies:
    put:
      operationId: update_bulk_target_group_exclusions_api
      summary: Update Target Group Project Exclusion Status
      description: Updates the project-level exclusion status for multiple target groups in a single request. When you enable
        project exclusion for a target group, respondents who complete it will be prevented from entering any other target
        group within the same project that also has this setting enabled.
      tags:
      - Respondent Exclusions
      parameters:
      - $ref: '#/components/parameters/AccountID'
      - $ref: '#/components/parameters/ProjectID'
      requestBody:
        description: The target groups and their desired exclusion statuses.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkTargetGroupProjectExclusionStatus'
            example:
            - target_group_id: 01HC2Z6TM8C4F3Y5CA6S2JR475
              project_exclusion_enabled: true
            - target_group_id: 01HC2Z6TM8C4F3Y5CA6S2JR476
              project_exclusion_enabled: false
      responses:
        '204':
          description: The exclusion policies for the target groups were updated successfully.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/accounts/{account_id}/projects/{project_id}/exclusions:
    get:
      operationId: get_exclusion_by_project_api
      summary: Lists project exclusion statuses for target groups
      description: Lists the project-level exclusion status for all target groups within a project. This allows you to see
        which target groups will exclude respondents from one another at the project level.
      tags:
      - Respondent Exclusions
      parameters:
      - $ref: '#/components/parameters/AccountID'
      - $ref: '#/components/parameters/ProjectID'
      responses:
        '200':
          description: A list of exclusion statuses for the project's target groups was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkTargetGroupProjectExclusionStatus'
              example:
              - target_group_id: 01HC2Z6TM8C4F3Y5CA6S2JR475
                project_exclusion_enabled: true
              - target_group_id: 01HC2Z6TM8C4F3Y5CA6S2JR476
                project_exclusion_enabled: false
              - target_group_id: 01HC2Z6TM8C4F3Y5CA6S2JR477
                project_exclusion_enabled: true
          headers:
            traceparent:
              $ref: '#/components/headers/Traceparent'
            tracestate:
              $ref: '#/components/headers/Tracestate'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/accounts/{account_id}/projects/{project_id}/target-groups/{target_group_id}/exclusion-policy:
    get:
      operationId: get_target_group_exclusion_policy_api
      summary: Retrieves the project exclusion status for a target group
      description: Retrieves the project-level exclusion status for a single target group. If the `project_exclusion_enabled`
        field is `true`, respondents who complete any other target group in the same project (that also has this setting enabled)
        will be excluded from this one.
      tags:
      - Respondent Exclusions
      responses:
        '200':
          description: The project exclusion status was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectExclusionStatusResponse'
              example:
                project_exclusion_enabled: true
                create_date: '2024-06-18T14:23:45Z'
                updated_by: User1234
                update_date: '2024-06-19T10:00:00.000Z'
          headers:
            traceparent:
              $ref: '#/components/headers/Traceparent'
            tracestate:
              $ref: '#/components/headers/Tracestate'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/ProjectID'
    - $ref: '#/components/parameters/TargetGroupID'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  ? /demand/accounts/{account_id}/projects/{project_id}/target-groups/{target_group_id}/exclusions/access-respondent-guid/paginated
  : get:
      operationId: get_target_group_access_respondent_guid_exclusion_list_api_paginated
      summary: Lists excluded Access Respondent GUIDs for a target group
      description: Lists the Access Respondent GUIDs of all respondents who are excluded from this target group. This exclusion
        can be due to their participation in another target group within the same project or within a shared exclusion group.
      tags:
      - Respondent Exclusions
      parameters:
      - $ref: '#/components/parameters/AccountID'
      - $ref: '#/components/parameters/ProjectID'
      - $ref: '#/components/parameters/TargetGroupID'
      - $ref: '#/components/parameters/PageSize1000'
      - $ref: '#/components/parameters/StartAfter'
      - $ref: '#/components/parameters/EndBefore'
      - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
      responses:
        '200':
          description: A paginated list of excluded Access Respondent GUIDs was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CobraIDListPaginatedResponse'
              example:
                data:
                - 5a3b2ada-0066-4dcb-afdd-7302be78ce9e
                - 5a3b2ada-0066-4dcb-afdd-7302be78ce9f
                next_cursor: MDlM2MtNTU5NTYyMWU3ZDcx
                url: accounts/1/projects/01JBHD5A2NEW7JTV8KZGGTC2V2/target-groups/01JNNEJ3GC0Y713BBKGKC147DP/exclusions/access-respondent-guid/paginated
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
  /demand/accounts/{account_id}/projects/{project_id}/target-groups/{target_group_id}/exclusions/jobs/remove-all-respondents:
    post:
      operationId: exclusion_create_remove_all_respondents_job
      summary: Creates a job to remove all respondent exclusions by type
      description: |-
        Creates a job to remove all the specified exclusion respondents for the specified Target Group ID. This returns an identifier that can retrieve the job execution information, including the status.
        Only one job can run at a time for a Target Group. If another job is already running before the endpoint is called for the same Target Group, a conflict response will be returned.
        While execution time may vary, removing 10,000 respondents typically takes between 3 and 5 minutes.
      tags:
      - Respondent Exclusions
      parameters:
      - $ref: '#/components/parameters/AccountID'
      - $ref: '#/components/parameters/ProjectID'
      - $ref: '#/components/parameters/TargetGroupID'
      - $ref: '#/components/parameters/ExclusionRespondentEntityType'
      responses:
        '201':
          description: The job was created successfully. Use the returned `job_id` to track its status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRemoveAllRespondentExclusionsJobResponse'
              example:
                job_id: 01BTGNYV6HRNK8K8VKZASZCFP1
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '409':
          $ref: '#/components/responses/Error_Conflict'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  ? /demand/accounts/{account_id}/projects/{project_id}/target-groups/{target_group_id}/exclusions/jobs/remove-all-respondents/{job_id}
  : get:
      operationId: get_all_respondent_exclusions_removal_job
      summary: Retrieve remove all respondent exclusions job status
      description: Gets the status of a job within the target group to remove all the respondent ID based exclusions on a
        target group. Each job will only remove one type of ID. You should be checking this endpoint regularly to see the
        status of your work. While execution time may vary, removing 10,000 respondents typically takes between 3 and 5 minutes.
        You should be wary while performing this action whilst the target group is live as the order of operations will mean
        that there will be a time with no active Respondent ID based exclusions on the Target Group.
      tags:
      - Respondent Exclusions
      parameters:
      - $ref: '#/components/parameters/AccountID'
      - $ref: '#/components/parameters/ProjectID'
      - $ref: '#/components/parameters/TargetGroupID'
      - $ref: '#/components/parameters/JobID'
      responses:
        '200':
          description: The information of a requested remove all Respondent ID exclusions job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRemoveAllRespondentExclusionsJobResponse'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  ? /demand/accounts/{account_id}/projects/{project_id}/target-groups/{target_group_id}/exclusions/jobs/upload-respondents-by-file
  : post:
      operationId: exclusion_create_upload_rids_by_file_job
      summary: Creates a job to upload a file of respondent exclusions
      description: Creates a job to upload new respondent exclusions by file for the specified Target Group ID. The new IDs
        will be added to the existing ones. The total number of IDs, both existing and new, must not exceed 100,000 IDs. This
        will return an identifier that can be used to retrieve the job execution information, including the status. Only one
        job can run at a time for a Target Group. If another job is already running before the endpoint is called for the
        same Target Group, a conflict response will be returned. The file must be in CSV or TXT format, without a header row.
        Each line should contain a single identifier. Only one single file can be uploaded and the file size must be less
        than 5MB. While execution time may vary, storing 10,000 new respondents typically takes between 3 and 5 minutes.
      tags:
      - Respondent Exclusions
      parameters:
      - $ref: '#/components/parameters/AccountID'
      - $ref: '#/components/parameters/ProjectID'
      - $ref: '#/components/parameters/TargetGroupID'
      - $ref: '#/components/parameters/ExclusionRespondentEntityType'
      - $ref: '#/components/parameters/RecontactPostContentType'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The file to upload. Must be a plain text or CSV file.
            example:
              file: '0F1CE179-A917-49FF-9D50-B05FC91F7BD4 75F1404C-65F6-4937-AD2A-588E4F66E07F 9C23131D-388B-4E03-97B3-CF783E491445 '
      responses:
        '201':
          description: The job was created successfully. Use the returned `job_id` to track its status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRespondentExclusionsUploadByFileJobResponse'
              example:
                job_id: 01BTGNYV6HRNK8K8VKZASZCFP1
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '409':
          $ref: '#/components/responses/Error_Conflict'
        '413':
          $ref: '#/components/responses/Error_ContentTooLarge'
        '415':
          $ref: '#/components/responses/Error_UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  ? /demand/accounts/{account_id}/projects/{project_id}/target-groups/{target_group_id}/exclusions/jobs/upload-respondents-by-file/{job_id}
  : get:
      operationId: get_respondent_exclusions_upload_by_file_job
      summary: Retrieve RID upload job status
      description: Gets the status of a job within the target group to update respondent ID based exclusions, of any type
        of ID. You should be checking this endpoint regularly to see the status of your work. While execution time may vary,
        adding 10,000 respondents typically takes between 3 and 5 minutes.
      tags:
      - Respondent Exclusions
      parameters:
      - $ref: '#/components/parameters/AccountID'
      - $ref: '#/components/parameters/ProjectID'
      - $ref: '#/components/parameters/TargetGroupID'
      - $ref: '#/components/parameters/JobID'
      responses:
        '200':
          description: The information of a requested upload Respondent ID exclusions by file job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUploadRespondentExclusionsJobResponse'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/accounts/{account_id}/projects/{project_id}/target-groups/{target_group_id}/exclusions/overview:
    get:
      operationId: get_exclusions_overview
      summary: Retrieves the number of currently excluded response IDs (RSID) on a target group.
      description: Retrieves the number of currently excluded response IDs (RSID) on a target group - both response ID and
        GUID. This is useful to understand how close you are to any limits or the effect of deduplication or other asynchronous
        operations.
      tags:
      - Respondent Exclusions
      parameters:
      - $ref: '#/components/parameters/AccountID'
      - $ref: '#/components/parameters/ProjectID'
      - $ref: '#/components/parameters/TargetGroupID'
      responses:
        '200':
          description: The number of respondent ID and GUID exclusions for the target group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTargetGroupExclusionsOverviewResponse'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/accounts/{account_id}/projects/{project_id}/target-groups/{target_group_id}/exclusions/rsid/paginated:
    get:
      operationId: get_target_group_rsid_exclusion_list_api_paginated
      summary: Lists excluded Respondent IDs (RSIDs) for a target group
      description: Lists the Respondent IDs (RSIDs) of all respondents who are excluded from this target group. This exclusion
        can be due to their participation in another target group within the same project, a shared exclusion group, or a
        direct file upload.
      tags:
      - Respondent Exclusions
      parameters:
      - $ref: '#/components/parameters/AccountID'
      - $ref: '#/components/parameters/ProjectID'
      - $ref: '#/components/parameters/TargetGroupID'
      - $ref: '#/components/parameters/PageSize1000'
      - $ref: '#/components/parameters/StartAfter'
      - $ref: '#/components/parameters/EndBefore'
      responses:
        '200':
          description: A paginated list of excluded Respondent IDs (RSIDs) was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExclusionsRespondentIDListResponse'
              example:
                data:
                - 5a3b2ada-0066-4dcb-afdd-7302be78ce9e
                - 5a3b2ada-0066-4dcb-afdd-7302be78ce9f
                - 5a3b2ada-0066-4dcb-afdd-7302be78ce9a
                next_cursor: MDFKUkc0UFdISDRKMEpWRVRTTTNKTlZKWlcmMGVmZmRjOTctMTYxZS00NmJlLWJlM2MtNTU5NTYyMWU3ZDcx
                url: accounts/101/projects/01BTGNYV6HRNK8K8VKZASZCFP0/target-groups/01BTGNYV6HRNK8K8VKZASZCFP1/exclusions/rsid/paginated
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/accounts/{account_id}/target-groups/{target_group_id}/exclusion-groups:
    get:
      operationId: get_exclusion_groups_for_target_group
      summary: Lists the exclusion groups of a specific target group
      description: Lists all exclusion groups that a specific target group is a member of, ordered by creation date. When
        a respondent attempts to enter this target group, they will be checked against all other target groups in all of the
        exclusion groups listed here.
      tags:
      - Respondent Exclusions
      parameters:
      - $ref: '#/components/parameters/AccountID'
      - $ref: '#/components/parameters/TargetGroupID'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/StartAfter'
      - $ref: '#/components/parameters/EndBefore'
      responses:
        '200':
          description: A list of exclusion groups for the requested target group was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExclusionGroupsByTargetGroupResponse'
              example:
                data:
                - exclusion_group_id: 01JW97M2Y5Q5KB0N543B4G4T5Y
                  tag: 2025 Tracker
                  description: 2025 Ongoing Tracker Study
                  create_date: '2025-05-27T09:28:21.229Z'
                  update_date: '2025-05-27T10:30:00.516Z'
                - exclusion_group_id: 01JW97M2Y5Q5KB0N543B4G4T5Z
                  tag: Automotive Studies
                  description: All automotive studies for Q3/Q4 2025
                  create_date: '2025-06-01T12:00:00.000Z'
                  update_date: null
                next_cursor: MDFKUkc0UFdISDRKMEpWRVRTTTNKTlZKWlcmMGVmZmRjOTctMTYxZS00NmJlLWJlM2MtNTU5NTYyMWU3ZDcx
                url: accounts/101/target-groups/01BTGNYV6HRNK8K8VKZASZCFP1/exclusion-groups
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/accounts/{account_id}/projects/{project_id}/target-groups/{target_group_id}/respondent-activity-exclusions:
    get:
      operationId: get_target_group_respondent_activity_exclusions
      summary: Retrieves respondent activity exclusions for a target group
      description: |
        Retrieves the list of target groups and/or projects whose respondents are to be excluded from taking the survey associated with the specified `target_group_id`.
      tags:
      - Respondent Exclusions
      responses:
        '200':
          description: Respondent activity exclusions were retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespondentActivityExclusionsResponse'
              example:
                respondent_activity_exclusions:
                - type: target-group
                  id: 01KH2714RHRTGCGQV47FHHY8S8
                  duration: P90D
                - type: project
                  id: 01KH287TE2W1GKTJJ91QCCHWP9
                  duration: P90D
          headers:
            traceparent:
              $ref: '#/components/headers/Traceparent'
            tracestate:
              $ref: '#/components/headers/Tracestate'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    put:
      operationId: set_target_group_respondent_activity_exclusions
      summary: Set the respondent activity exclusions for a target group
      description: "Set the list of target groups and/or projects whose respondents you want to exclude from the specified\
        \ `target_group_id`. \n\nThe request body specifies the projects and target groups whose respondent activity should\
        \ be excluded from the target group identified in the path.\nEach exclusion item can optionally specify a `duration`\
        \ (ISO-8601 period format, date-based only, e.g. `P90D` for 90 days) controlling how far back to look for respondent\
        \ activity. Must be between 1 and 396 days. A `duration` can also be set at the request root level to apply as the\
        \ default for all items. Per-item durations override the request-level default. If neither is specified, the duration\
        \ defaults to P90D (90 days).\nExclusions apply when there are completes within each exclusion item's configured `duration`.\
        \ The request must not include the same target group specified in the path parameters, nor the project it belongs\
        \ to, as a target group cannot exclude its own respondent activity or that of its parent project.\n\n:::important\n\
        This operation will overwrite any previous existing list. Make sure to include previously saved target groups or projects\
        \ in your request.\nIf the Target Group is already live, updating its respondent activity exclusions will only affect\
        \ future respondent traffic. Any respondents who have already entered or completed the Target Group under the previous\
        \ exclusion settings cannot be retroactively changed. Please review your changes carefully before switching the target\
        \ group to live.\n:::\n"
      tags:
      - Respondent Exclusions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetRespondentActivityExclusionsRequest'
      responses:
        '204':
          description: Successfully updated respondent activity exclusions.
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/ProjectID'
    - $ref: '#/components/parameters/TargetGroupID'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/accounts/{account_id}/business-units/{business_unit_id}/generate-price-prediction:
    post:
      operationId: generate_price_prediction
      summary: Generates a price prediction
      description: |-
        Predicts the cost per interview (CPI) for a potential target group using either a `rate_card` or `dynamic` pricing model. The model you choose must match the business unit's pricing configuration.
        Private Exchange required.
        This endpoint is only available for accounts with a Private Exchange. If your account does not have this feature enabled, requests will fail with a 403 Forbiddenerror. Please contact your account manager if you need access to this functionality.
      tags:
      - Exclusive Endpoints
      parameters:
      - $ref: '#/components/parameters/AccountID'
      - $ref: '#/components/parameters/BusinessUnitID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRedactedPricePredictionRequest'
            examples:
              rate_card:
                summary: Rate Card Prediction
                description: Request a price prediction using the rate card pricing model
                value:
                  config:
                    type: rate_card
                    country_code: US
                    expected_incidence_rate: 0.25
                    expected_length_of_interview_minutes: 15
                    maximum_cpi:
                      value: '10.00'
                      currency_code: USD
              dynamic:
                summary: Dynamic Pricing Prediction
                description: Request a price prediction using the dynamic pricing model
                value:
                  config:
                    type: dynamic
                    user_requested_cpi:
                      value: '5.50'
                      currency_code: USD
      responses:
        '200':
          description: The price prediction was generated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRedactedPricePredictionResponse'
              example:
                buyer_account_id: 101
                buyer_business_unit_id: '1234'
                buyer_business_unit_exchange_rate_from_usd: 1.0
                open_exchange_price:
                  pricing_context:
                    type: rate_card
                    rate_card_token: some_rate_card_token
                  cost_per_interview:
                    value: '4.75'
                    currency_code: USD
                    currency_scale: 2
                private_exchange_prices:
                - supplier_id: '43'
                  pricing_context:
                    type: dynamic
                  cost_per_interview:
                    value: '5.50'
                    currency_code": USD
                    currency_scale: 2
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/accounts/{account_id}/business-units/{business_unit_id}/target-groups/{target_group_id}/price:
    get:
      operationId: get_target_group_price
      summary: Retrieves the pricing details for a target group
      description: |-
        Retrieves the current pricing details for a specific target group. The response includes the cost per interview (CPI) and the pricing context (`rate_card` or `dynamic`) for both the Open Exchange and any applicable Private Exchange suppliers.
        Private Exchange required.
        This endpoint is only available for accounts with a Private Exchange. If your account does not have this feature enabled, requests will fail with a `403 Forbidden` error. Please contact your account manager if you need access to this functionality.
      tags:
      - Exclusive Endpoints
      responses:
        '200':
          description: The pricing details for the target group were retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTargetGroupPriceResponse'
              example:
                price_type: specification
                buyer_account_id: 101
                buyer_business_unit_id: '1234'
                target_group_id: 01BTGNYV6HRNK8K8VKZASZCFP1
                buyer_business_unit_exchange_rate_from_usd: 1.0
                pricing_config_token: MDFKSE42MDQ1RFg2Tk0wQjlBQ0Q5QVhQQzk7Nw==
                open_exchange_price:
                  pricing_context:
                    type: rate_card
                    rate_card_token: some_rate_card_token
                  cost_per_interview:
                    value: '4.75'
                    currency_code: USD
                    currency_scale: 2
                private_exchange_prices:
                - supplier_id: '43'
                  pricing_context:
                    type: dynamic
                  cost_per_interview:
                    value: '5.50'
                    currency_code: USD
                    currency_scale: 2
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/BusinessUnitID'
    - $ref: '#/components/parameters/TargetGroupID'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/accounts/{account_id}/target-groups/calculate-feasibility:
    post:
      operationId: calculate_target_group_feasibility
      summary: Calculates feasibility for a draft target group
      description: "Calculates the feasibility for a new, unsaved (draft) target group based on the specifications you provide\
        \ in the request body. \nYou can use this endpoint to estimate the achievable number of completes and get a suggested\
        \ price \nbefore you create the actual target group. If you include profiling details, \nthe response will also provide\
        \ a feasibility breakdown for each quota.\n\n**Note:** Profiles with a large number of open-ended values or complex\
        \ condition groups may result in reduced feasibility accuracy or a zero feasibility value. We recommend reviewing\
        \ the suggested price carefully and running your own sample to validate the results.\n"
      tags:
      - Feasibility
      parameters:
      - $ref: '#/components/parameters/AccountID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculateTargetGroupFeasibilityRequest'
      responses:
        '200':
          description: The feasibility report was generated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculateTargetGroupFeasibilityResponse'
              example:
                suggested_price:
                  value: '4.25'
                  currency_code: USD
                  currency_scale: 2
                suggested_completes_goal_range:
                  min: 450
                  max: 525
                profiles:
                - object: regular
                  targets:
                  - conditions:
                    - object: range
                      question_id: 12413
                      min: 18
                      max: 34
                    quota:
                      min_completes:
                        projected_completes_goal: 225
                      max_completes:
                        projected_completes_goal: 262
                allocations:
                  open_exchange_allocations:
                    min_completes: 450
                    max_completes: 525
                    groups: []
          headers:
            traceparent:
              description: The `traceparent` header carries the trace ID and parent span ID, as defined by the W3C Trace Context
                specification. It's used to trace a single request as it moves through multiple services.
              required: false
              schema: &id001
                $ref: '#/components/schemas/Traceparent'
            tracestate:
              description: The `tracestate` header complements the `traceparent` header by carrying vendor-specific trace
                information. This allows different services to add their own data to a trace.
              required: false
              schema: &id002
                $ref: '#/components/schemas/Tracestate'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '422':
          $ref: '#/components/responses/Error_InvalidState'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/accounts/{account_id}/projects/{project_id}/target-groups/{target_group_id}/calculate-feasibility:
    post:
      operationId: calculate_target_group_feasibility_by_id
      summary: Calculates feasibility for a non-draft target group
      description: |-
        Calculates feasibility information based on the current state of the target group.
        The request properties are all optional. They serve as a way of performing what-if analysis on the Target Group. When a property is provided in the request, the feasibility analysis will behave as if the relevant property on the target group had the value which was sent in the request body. Any number of properties can be provided for what-if analysis this way. However, it should be kept in mind that the analysis is still performed on _the current target group_, therefore it will be influenced by factors such as the number of completes collected so far, the exchange rate of the target group's currency versus USD when it went live, etc.
        **Note:** Profiles with a large number of open-ended values or complex condition groups may result in reduced feasibility accuracy or a zero feasibility value. We recommend reviewing the suggested price carefully and running your own sample to validate the results.
      tags:
      - Feasibility
      parameters:
      - $ref: '#/components/parameters/AccountID'
      - $ref: '#/components/parameters/ProjectID'
      - $ref: '#/components/parameters/TargetGroupID'
      - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
      requestBody:
        required: false
        description: Optionally provides a means of overriding Target Group details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculateTargetGroupFeasibilityByIdRequest'
      responses:
        '200':
          description: Successfully obtained target group feasibility.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculateTargetGroupFeasibilityResponse'
          headers:
            traceparent:
              description: The `traceparent` header carries the trace ID and parent span ID, as defined by the W3C Trace Context
                specification. It's used to trace a single request as it moves through multiple services.
              required: false
              schema: *id001
            tracestate:
              description: The `tracestate` header complements the `traceparent` header by carrying vendor-specific trace
                information. This allows different services to add their own data to a trace.
              required: false
              schema: *id002
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '422':
          $ref: '#/components/responses/Error_InvalidState'
        '500':
          $ref: '#/components/responses/Error_Internal'
  /demand/accounts/{account_id}/projects/{project_id}/target-groups/{target_group_id}/fielding-assistant-assignment:
    get:
      operationId: get_fielding_assistant_assignment
      summary: Retrieves the Fielding Assistant assignment for a target group
      description: |-
        Retrieves the current Fielding Assistant configuration for a target group. The response will show which modules, if any, are currently enabled. Examples:

          * Pricing
          * Quota overlay
          * Pacing
          * Soft launch
      tags:
      - Fielding Assistant
      responses:
        '200':
          description: The Fielding Assistant assignment details were retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldingAssistantModulesAssignment'
              example:
                pricing:
                  type: dynamic
                  maximum_cpi":
                    value: '5.00'
                    currency_code: USD
                    currency_scale: 2
                pacing:
                  type: linear
                  increment_interval: P1D
                quota_overlay:
                  prevent_overfill": true
                  balance_fill: true
                soft_launch: null
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    put:
      operationId: create_or_update_fielding_assistant_assignment
      summary: Create or update the Fielding Assistant assignment
      description: |
        Creates or fully replaces the Fielding Assistant assignment for a target group. This is an "all or nothing" operation.
        To modify an existing assignment, you must first GET the current configuration, make your changes,
        and then PUT the entire modified object back. Sending a request with only one module will disable all others.
        To disable all modules, send an empty object `{}`. This endpoint uses the `If-Match` header for optimistic locking.
      tags:
      - Fielding Assistant
      parameters:
      - $ref: '#/components/parameters/IfMatch'
      - $ref: '#/components/parameters/IfNoneMatch'
      requestBody:
        description: Fielding assistant assignment request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldingAssistantModulesAssignmentRequestModel'
            examples:
              full_configuration:
                summary: Enable Dynamic Pricing and Linear Pacing
                description: Example configuration with dynamic pricing, linear pacing, and quota overlay modules enabled
                value:
                  pricing:
                    type: dynamic
                    maximum_cpi:
                      value: '5.00'
                      currency_code: USD
                  pacing:
                    type: linear
                    increment_interval: P1D
                  quota_overlay:
                    prevent_overfill: true
                    balance_fill: true
              disable_all:
                summary: Disable All Modules
                description: Send an empty object to disable all Fielding Assistant modules
                value: {}
      responses:
        '204':
          description: Fielding assistant assignment on target group successfully created or updated.
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '412':
          $ref: '#/components/responses/Precondition_Failed'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/AccountID'
    - $ref: '#/components/parameters/ProjectID'
    - $ref: '#/components/parameters/TargetGroupID'
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
  /demand/accounts/{account_id}/projects/{project_id}/batch-jobs/complete-fielding-runs-by-target-group-id:
    post:
      summary: Creates a job to complete multiple target groups
      description: "This endpoint creates a bulk job to complete fielding runs for a list of specified target group IDs. This\
        \ action will immediately complete the \nspecified target groups, regardless of whether their completes goals or end\
        \ dates have been reached.\nIf a target group is already completed, the system considers the action successful.\n\n\
        To ensure that the same job is not created multiple times, this endpoint uses an `Idempotency-Key` from the request\
        \ header. If a job with \nthe same key has already been submitted, the system will not create a new one but will treat\
        \ the operation as successful and \nreturn the same successful response as for a newly created job.\n\nUpon successful\
        \ submission, the system creates a new bulk job to start the actual processing asynchronously. This means \nthe endpoint\
        \ returns a response quickly without waiting for the entire bulk operation to complete. If the job is created successfully\
        \ or if \nit already existed due to the idempotency key, the endpoint returns a `201 Created` status code with the\
        \ job ID in the `Location` header.\n\nTo check the status of the job, you can use the job ID returned in the `Location`\
        \ header with the `Retrieve a bulk job status` endpoint.\nThe processing of the job will continue even if an operation\
        \ on an individual target group fails. The final job status will list which target groups \nwere updated successfully\
        \ and which ones failed.\n"
      operationId: create_bulk_complete_target_groups_job
      parameters:
      - $ref: '#/components/parameters/AccountID'
      - $ref: '#/components/parameters/ProjectID'
      - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        description: A list of target group IDs to be completed.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBulkCompleteTargetGroupJobRequest'
            example:
              target_group_ids:
              - 01BTGNYV6HRNK8K8VKZASZCFP1
              - 01BTGNYV6HRNK8K8VKZASZCFP2
      tags:
      - Fielding (Batch)
      responses:
        '201':
          description: The job was created successfully. Poll the URL in the `Location` header to track its status.
          headers:
            traceparent:
              $ref: '#/components/headers/Traceparent'
            tracestate:
              $ref: '#/components/headers/Tracestate'
            location:
              $ref: '#/components/headers/Location'
              example: /demand/accounts/101/projects/01BTGNYV6HRNK8K8VKZASZCFP0/batch-jobs/complete/01BTGNYV6HRNK8K8VKZASZCFP1
        '400':
          $ref: '#/components/responses/Error_BadRequest'
        '401':
          $ref: '#/components/responses/Error_Unauthorized'
        '403':
          $ref: '#/components/responses/Error_Forbidden'
        '404':
          $ref: '#/components/responses/Error_NotFound'
        '500':
          $ref: '#/components/responses/Error_Internal'
    parameters:
    - $ref: '#/components/parameters/CintAPIVersion-2025-12-18'
[...]
